<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/default_layout}"
	layout:fragment="Content">
<head>
<meta charset="UTF-8">
<title>작업자 찾기페이지</title>
</head>
<body>

<div class="text-center mb-5 pb-3">
  <h2 class="m-0" style="font-weight: 700">작업자 찾기</h2>
  <p class="text-success" style="font-size: 14px; font-weight: 500">
    분야&지역별 전문가들을 찾을 수 있습니다.
  </p>
</div>

<form id="searchForm" th:action="@{/find/workerList}" method="get" th:object="${findWorkerCriteria}">
  <div class="search">
    <div class="row mb-1 form-group">
  	  <div class="d-flex flex-wrap gap-2" role="group" aria-label="Basic checkbox toggle button group">
		<th:block th:each="region : ${regionCode}">
		  <input type="checkbox" name="regionCode" th:id="${region.codeNo}" class="btn-check"  th:value="${region.codeNo}" th:checked="${findWorkerCriteria.regionCode}!= null and ${#lists.contains(findWorkerCriteria.regionCode, region.codeNo)}">
		  <label th:for="${region.codeNo}" class="btn btn-sm btn-outline-success m-0">[[${region.codeName}]]</label>
		</th:block>
	  </div>
    </div>
    <div class="row mb-3 form-group">
	  <div class="d-flex flex-wrap gap-2" role="group" aria-label="Basic checkbox toggle button group">
		<th:block th:each="category : ${categoryCode}">
		  <input type="checkbox" th:id="${category.codeNo}" class="btn-check" name="categoryCode" th:value="${category.codeNo}" th:checked="${findWorkerCriteria.categoryCode}!= null and ${#lists.contains(findWorkerCriteria.categoryCode, category.codeNo)}">
		  <label th:for="${category.codeNo}" class="btn btn-sm btn-outline-success ">[[${category.codeName}]]</label>
		</th:block>
      </div>
	<div class="d-grid gap-2 d-md-flex justify-content-md-end">
	    <button class="btn btn-sm btn-primary ">적용하기</button>	
    </div>
    </div>
    <div>
		<input type="hidden" th:name="${pageNum}" th:value="${page.cri.pageNum}">
		<input type="hidden" th:name="${amount}" th:value="${page.cri.amount}">
    </div>
  </div>
</form>

  <div class="row row-cols-1 row-cols-md-2 g-4">
    <th:block th:each="wkl : ${workerList}">
	  <div class="col-md-3">
	    <a th:href="|@{/find/workerMoreInfo(usersNo=${wkl.usersNo})}|">
	      <div class="card">
	        <div class="card-body">
	          <img
			  	th:if="${wkl.fileId != 0}" 
			    th:src="|/display?fileName=${#strings.replace(wkl.savePath, '\', '/')}/${wkl.saveName}_${wkl.originalFileName}.${wkl.ext}|"
	            class="card-img-top" 
				alt="..."
			  >
	          <img
			  	th:unless="${wkl.fileId != 0}" 
			    src="/images/usr/default_user.png"
	            class="card-img-top" 
				alt="..."
			  >
	          <h5 class="card-title">이름:[[${wkl.usersName}]]</h5>
	          <span>분야:</span>
	          <th:block th:each="ctc : ${wkl.categoryCode}">
	            <span class="card-text">[[${ctc.CATEGORY_CODE}]] </span>
	          </th:block><br>
	          <span>지역:</span>
	          <th:block th:each="rcd : ${wkl.regionCode}">
	            <span class="card-text">[[${rcd.REGION_CODE}]]</span>
	          </th:block>
	        </div>
	      </div>
	    </a>
	  </div>
	</th:block>
	<!-- 데이터가 없을시 출력문구 -->
    <div th:if="${page.total == 0}">데이터가 없습니다.</div>
  </div>

<!-- 페이징 구현 -->
<div class="row pagination-wrap mt-5" >
  <div class="col-md-12 text-center ">
    <div class="custom-pagination ml-auto">
      <a th:if="${page.prev}" th:href="@{/find/workerList(pageNum=${page.startPage - 1})}" class="prev">Prev</a>
      <div class="d-inline-block">
        <th:block th:each="num : ${#numbers.sequence(page.startPage, page.endPage)}">
          <a th:class="${page.cri.pageNum == num ? 'active' : ''}" th:href="|@{/find/workerList(pageNum=${num},type=${page.cri.type},keyword=${page.cri.keyword})}|" >[[${num}]]</a>
        </th:block> 
      </div>
      <a th:if="${page.next}" th:href="@{/find/workerList(pageNum=${page.endPage + 1})}" class="next">Next</a>
    </div>
  </div>
</div>
  
<script th:inline="javascript">
$(document).ready(function(){
    var searchForm = $("#searchForm");

    $("#searchForm button[type='submit']").on("click", function(e){
        if(!searchForm.find("option:selected").val()){
            alert("검색 종류를 선택하세요");
            return false;
        };
        
        if(!searchForm.find("input[name='keyword']").val()){
            alert("검색어를 입력하세요");
            return false;
        }
        
        searchForm.find("input[name='pageNum']").val("1");
        e.preventDefault();
        
        searchForm.submit();
    });
});

</script>
</body>
</html>