<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/user_mypage_layout}"
	layout:fragment="Content">
<head>
<meta charset="UTF-8">
<title>작업자 마이페이지</title>
<style>
button.teamBtn {
	border-bottom-left-radius: 0.25rem;
	border-bottom-right-radius: 0.25rem;
	border: 1px solid rgba(0, 0, 0, 0.125);
	background-color: #efefef !important;
}
</style>
</head>
<body>
<form name="wkrConList" id="wkrConList">
<input type="hidden" name="contractState" th:value="${cri.contractState}">
<input type="hidden" name="pageNum">
</form>
	<div class="d-flex mb-3">
		  <div class="me-auto p-2">
		  <h4>내가 쓴 계약서</h4>
		  </div>
		
		  </div>
<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade show active" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
	<th:block th:each="ctt : ${contractList}">
		<div class="list-group m-3 list-group-item-action">
		  <a th:href="@{/conInfo(contractNo=${ctt.contractNo})}" class="list-group-item list-group-item-action">
		    <strong>공사명 </strong><span>[[${ctt.cttName}]]</span>
		    <strong class="state" style="float:right;">[[${ctt.contractStateNm}]]</strong><br>
		    <strong>의뢰명 </strong><span>[[${ctt.title}]]</span>
		    <span style="float:right;">[[${#dates.format(ctt.writeDt, 'yyyy-MM-dd')}]] ~ [[${#dates.format(ctt.cttEndDt, 'yyyy-MM-dd')}]]</span><br>
		  </a>
		</div>
	</th:block>
	<!-- 데이터가 없을시 출력문구 -->
  <div th:if="${page.total == 0}">데이터가 없습니다.</div>
  </div>
</div>
<!-- 페이징 구현 -->
<div class="row pagination-wrap mt-5" >
      <div class="col-md-12 text-center ">
        <div class="custom-pagination ml-auto">
          <a th:if="${page.prev}" href="#" th:data-pagenum="${page.startPage - 1}" class="prev">Prev</a>
          <div class="d-inline-block" id="pagination">
            <th:block th:each="num : ${#numbers.sequence(page.startPage, page.endPage)}">
       	      <a th:class="${page.cri.pageNum == num ? 'active' : ''}" href="#" th:data-pagenum="${num}">[[${num}]]</a>
	  	 	</th:block> 
          </div>
          <a th:if="${page.next}" href="#" th:data-pagenum="${page.endPage + 1}" class="next">Next</a>
        </div>
      </div>
    </div>
    
<script th:inline="javascript">
	$(document).ready(function(){
		$('strong.state').each((i, e) => {
			if($(e).text() == '서명 완료'){
				$(e).css('color', 'blue');
			}	
			if($(e).text() == '서명 중'){
				$(e).css('color', 'green');
			}	
		})
		
	})
	
	
	$('.pagination-wrap a').on('click', function(){
		$('[name="pageNum"]').val($(this).data("pagenum"))
		$('#wkrConList').submit();
	});
</script>    
</body>
</html>