<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/user_mypage_layout}"
	layout:fragment="Content">
<head>
<meta charset="UTF-8">
<title>사용자 마이페이지</title>
<style>
form span.error{
	color: red;
	font-size: 10pt;
}

form span{
	color: blue;
	font-size: 10pt;
}
.userImg {
	position:relative;
}
.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: inherit;
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.2s;
}
.overlay > label {
  text-align: center;
  line-height: 200px;
  width: 100%;
  color: #89ba16 !important;
  font-weight: 900;
  cursor: pointer;
}
.userImg:hover .overlay {
  opacity: 1;
}
.ezt-my-info {
  font-size: 14px;
}
.userImg {
  width: 200px;
  height: 200px;
  border: 2px solid #dee2e6;
  border-radius: 50%;
  overflow: hidden;
}
.userImg > img {
  width: 100%;
}

#ezt-tag {
  font-weight: 300 !important;
}
</style>
</head>
<body>
 <div class="me-auto p-2 mb-3">
  <h4>회원정보 수정</h4>
  </div>
	<form th:action="userUpdate" name="userUpd" th:object="${userVO}" enctype="multipart/form-data">
	  <div class="ezt-my-info">
        <div>
          <input type="hidden" th:field="*{usersNo}" />
          <input type="hidden" th:field="*{usersId}" />
        </div>
        <div class="row mb-3">
          <div class="col-md-4 col-sm-12">
            <div class="userImg p-0" style="margin: 0 auto">
              <img
                th:if="${userVO.fileId != 0}"
                class=""
                id="preview"
                th:src="|/display?fileName=${#strings.replace(userVO.savePath, '\', '/')}/${userVO.saveName}_${userVO.originalFileName}.${userVO.ext}|"
                alt="사용자 프로필 이미지"
              />
              <img
                th:unless="${userVO.fileId != 0}"
                class=""
                id="preview"
                src="/images/usr/default_user.png"
                alt="사용자 프로필 이미지"
              />
              <div class="overlay">
                <label for="uploadFile" class="m-0">이미지 선택</label>
              </div>
              <input
                name="uploadFile"
                type="file"
                id="uploadFile"
                class="form-control"
                accept=".jpg, .png, .jfif"
                style="display: none"
              />
            </div>
          </div>
          <div class="col-md-8 sol-sm-12">
            <div>
              <label class="m-0 text-dark" for="usersNick"><b>닉네임</b></label>
              <input
                class="form-control"
                type="text"
                id="usersNick"
                th:field="*{usersNick}"
              /><span></span>
            </div>
            <div class="mt-2">
              <label class="m-0 text-dark" for="usersPhone"
                ><b>전화번호</b></label
              >
              <input
                class="form-control"
                type="text"
                id="usersPhone"
                th:field="*{usersPhone}"
              /><span></span>
            </div>
            <div class="mt-2">
              <label class="m-0 text-dark" for="usersEmail"
                ><b>이메일</b></label
              >
              <input
                class="form-control"
                type="email"
                id="usersEmail"
                th:field="*{usersEmail}"
              /><span></span>
            </div>
          </div>
        </div>
		<button type="button" id="updateBtn" class="btn btn-primary border-width-2 d-lg-inline-block" style="float:right;">수정하기</button>
	  </div>
	</form>
	</body>
<script th:inline="javascript">
	$('#updateBtn').on('click', updateUser);
	
	function updateUser(e){
	var formData = new FormData(document.userUpd);
		
		let dataObj = getUsrObj();
		//console.log(dataObj);
		
		$.ajax('/user/update', {
			type : 'post',
			contentType : false,
			processData : false,
			data : formData
		})
		.done(re => {
			console.log(re);
			Swal.fire({
				text:'변경완료!',
				icon: 'success',
				showConfirmButton: false,
			})
			setTimeout(()=>window.location.href="/user/info", 1000);
		})
		.fail(err => console.log(err));
	};

	function getUsrObj(){
		let formAry = $('form').serializeArray();
		
		let formObj = {};
		formAry.forEach(inputTag => {
			formObj[inputTag.name] = inputTag.value;
		});
		
		return formObj;
	};
	
	//닉네임 중복체크
	var nick = $('#usersNick');
	var basicNick = $('#usersNick').val();
	checkNick();
	function checkNick() {
		nick.on("change", function() { 
			var reqExp = /^[ㄱ-ㅎ가-힣A-Za-z0-9-_]{2,10}$/;
				
				if(nick.val() == ''){
					nick.next().text('닉네임을 입력해주세요')
					nick.next().addClass('error')
					nick.focus();
					return ;
				}
				
				if(!reqExp.test(nick.val())){
					nick.next().text('닉네임은 특수문자를 제외한 2~10자리여야 합니다.')
					nick.next().addClass('error')
					return ;		
				}
				
				if(basicNick == nick.val()){
					nick.next().text('');
					nick.next().removeClass('error');
				}
			
				$.ajax({
					type : "get",
					url : "/signUp/checkNick/"+nick.val(),
					success : function(dt) {
						if(basicNick == nick.val()){
							nick.next().text('');
							nick.next().removeClass('error');
						}else if (dt == '중복') {
							nick.next().text('이미 사용중인 닉네임입니다.')
							nick.next().addClass('error')
						} else {
							nick.next().text('사용가능한 닉네임입니다.')
							nick.next().removeClass('error')
						}
					}
				})
		})
	}
	//이메일 중복체크
	var email = $('#usersEmail');
	var basicEmail = $('#usersEmail').val();
	checkEmail();
	
	function checkEmail() {
		email.on("change", function() { 
			var reqExp = /^[0-9a-zA-Z]([-_.]?[0-9a-zA-Z])*@[0-9a-zA-Z]([-_.]?[0-9a-zA-Z])*.[a-zA-Z]{2,3}$/;
			
			if(email.val() == ''){
				email.next().text('이메일을 입력해주세요')
				email.next().addClass('error')
				nick.focus();
				return ;
			}
			
			if (!reqExp.test(email.val())) {
				email.next().text('이메일 형식이 올바르지 않습니다.')
				email.next().addClass('error')
				nick.focus();
				return ;
			}
			
			
			
			$.ajax({
				type : "get",
				url : "/signUp/checkEmail?email="+email.val(),
				success : function(dt) {
					if (dt == '중복') { 
						email.next().text('이미 사용중인 이메일입니다.')
						email.next().addClass('error')
					} else {
						email.next().text('사용가능한 이메일입니다.')
						email.next().removeClass('error')
					}
				}
			})
		})
	}
	
	//이미지변경시 바로보여줌
	  $("#uploadFile").on("change", function(event) {

		    var file = event.target.files[0];

		    var reader = new FileReader(); 
		    reader.onload = function(e) {

		        $("#preview").attr("src", e.target.result);
		    }

		    reader.readAsDataURL(file);
		});
</script>
</body>
</html>