<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/user_mypage_layout}"
	layout:fragment="Content">
<head>
<meta charset="UTF-8">
<title>사용자 마이페이지</title>
<style>
      .ezt-my-info {
        font-size: 14px;
      }
      .userImg {
        width: 200px;
        height: 200px;
        border: 2px solid #dee2e6;
        border-radius: 50%;
        overflow: hidden;
      }
      .userImg > img {
        width: 100%;
      }

      #ezt-tag {
        font-weight: 300 !important;
      }
    </style>
  </head>
<body>
  <div class="me-auto p-2 mb-3">
    <h4>회원 정보</h4>
  </div>
  <div class="ezt-my-info">
    <div class="row mb-3">
      <div class="col-md-4 col-sm-12">
        <div class="userImg p-0" style="margin: 0 auto">
          <img
            th:if="${userVO.fileId != 0}"
            th:src="|/display?fileName=${#strings.replace(userVO.savePath, '\', '/')}/${userVO.saveName}_${userVO.originalFileName}.${userVO.ext}|"
            alt="사용자 프로필 이미지"
          />
          <img
            th:unless="${userVO.fileId != 0}"
            src="/images/usr/default_user.png"
            alt="사용자 프로필 이미지"
          />
        </div>
      </div>
      <div class="col-md-8 sol-sm-12">
        <div class="ezt-table">
          <table class="table">
            <tbody>
              <tr>
                <th>이름</th>
                <td>[[${userVO.usersName}]]</td>
              </tr>
              <tr>
                <th>닉네임</th>
                <td>[[${userVO.usersNick}]]</td>
              </tr>
              <tr>
                <th>전화번호</th>
                <td>[[${userVO.usersPhone}]]</td>
              </tr>
              <tr>
                <th>이메일</th>
                <td>[[${userVO.usersEmail}]]</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</body>
<script th:inline="javascript">
var phone = /*[[${userVO.usersPhone}]]*/"";
// 전화번호
function userPhone(phone) {
	phone = phone.replace(/^(\d{2,3})(\d{3,4})(\d{4})$/, `$1-$2-$3`);
	return phone;
}

$(function(){
	phone = userPhone(phone)
	$('#usersPhone').val(phone);
})	
</script>
</body>
</html>