<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/user_mypage_layout}"
	layout:fragment="Content">
<head>
<meta charset="UTF-8">
<title>사용자 마이페이지</title>
</head>
<body>
  <h1>후기 목록</h1>
  <th:block th:each="review : ${reviewList}">
	<div class="list-group">
	  <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
	    <div class="d-flex w-100 justify-content-between">
		  <h5 class="mb-1">지역 : [[${review.regionCode}]]
		  	, 분야 : [[${review.categoryCode}]]</h5>
		  <small>상태 : [[${review.reviewDivision}]]</small>
		  <small>작업자 : [[${review.workerName}]]</small>
		</div>
		<p class="mb-1">내용 : [[${review.content}]]</p> 
		<small>별점 : [[${review.star}]]</small>
	  </a>
	</div>
  </th:block>
	
</body>
</html>