<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/user_mypage_layout}"
	layout:fragment="Content">
<head>
<meta charset="UTF-8">
<title>사용자 마이페이지</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
 <link rel="stylesheet" href="/css/rvw/reviewInsert.css">
</head>
<body>
<form name="usrReqList" id="usrReqList">
<input type="hidden" name="categoryCode" th:value="${cri.categoryCode}">
<input type="hidden" name="requestState" th:value="${cri.requestState}">
<input type="hidden" name="pageNum">
</form>

<div class="d-flex mb-3">
  <div class="me-auto p-2">
  <h4>의뢰 목록</h4>
  </div>
  
  <div class="p-2">
     <select id="categoryCategory" class="form-select form-select-sm" aria-label=".form-select-sm example">
     	<option value="">분야</option>
	  	<option th:each="cate : ${categoryCode}" th:value="${cate.codeNo}"
	  		th:selected="${cri.categoryCode} == ${cate.codeNo}">
	  		[[${cate.codeName}]]
	  	</option>    
     </select>
   </div>
   
   <div class="p-2">
      <select id="requestState" class="form-select form-select-sm" aria-label=".form-select-sm example">
     	<option value="">상태</option>
	  	<option th:each="reqSta : ${requestState}" th:value="${reqSta.codeNo}"
	  		th:selected="${cri.requestState} == ${reqSta.codeNo}">
	  		[[${reqSta.codeName}]]
	  	</option>    
     </select>
   </div>
</div>

<div class="row row-cols-3 row-cols-md-2 g-2">
  <th:block th:each="req : ${requestList}">
	  <div class="col-lg-4 col-md-6 col-sm-12">
	    <div class="card">
<!-- 	      <img src="..." class="card-img-top" alt="..."> -->
	      <div class="card-body">
	        <div class="d-flex justify-content-between">
	        <h5 class="card-title">[[${#strings.abbreviate(req.title,10)}]]</h5>
	        <p class="card-text reqState"><span>[[${req.requestStateNm}]]</span></p>
	        </div>
	        <div class="d-flex justify-content-between">
	        <p class="card-text"><strong>[[${req.categoryCodeNm}]]</strong></p>
	        <p class="card-text">[[${#dates.format(req.writeDt, 'yyyy-MM-dd')}]]</p>
	        </div>
	        <div class="d-flex justify-content-end">
	        	<div class="">
			        <button type="button" th:onclick="|location.href='@{/request/info(requestNo=${req.requestNo})}'|"
			         class="btn btn-sm btn-primary border-width-2 d-lg-inline-block">상세</button>
		        <th:block th:if="${req.reviewNo <= 0}">
			        <button id="modalBtn" th:onclick="reqModal([[${req.requestNo}]])" 
			        th:if="${req.requestState} == 'S05' or ${req.requestState} == 'S06'" 
			        class="btn btn-sm btn-primary border-width-2 d-lg-inline-block">후기작성</button>
		        </th:block>
		        </div>
	        </div>
	      </div>
	    </div>
	  </div>
  </th:block>
  <!-- 데이터가 없을시 출력문구 -->
  <div th:if="${page.total == 0}">데이터가 없습니다.</div>	
</div>
    
   <div class="row pagination-wrap mt-5">
   <div class="col-md-12 text-center ">
     <div class="custom-pagination ml-auto">
       <a th:if="${page.prev}" href="#" th:data-pagenum="${page.startPage - 1}" class="prev">Prev</a>
       <div class="d-inline-block">
       <th:block th:each="num : ${#numbers.sequence(page.startPage, page.endPage)}">
       	<a th:class="${page.cri.pageNum == num ? 'active' : ''}" href="#" th:data-pagenum="${num}">
			[[${num}]]</a>
	  </th:block> 
          
        </div>
        <a th:if="${page.next}" href="#" th:data-pagenum="${page.endPage + 1}" class="next">Next</a>
      </div>
    </div>
  </div>
	<!-- 모달 -->
	<div id="modalHtml"></div>     
</body>
<script th:inline="javascript">

	$(document).ready(function () {
		$('.reqState span').each((i, e) => {
			if ($(e).text() == '의뢰중'){
				$(e).css('color','blue');
			}
			if ($(e).text() == '계약완료'){
				$(e).css('color','black');
			}
			if ($(e).text() == '공사중'){
				$(e).css('color','red');
			}
			if ($(e).text() == '보수기간'){
				$(e).css('color','green');
			}
			if ($(e).text() == '계약만료'){
				$(e).css('color','#aaa');
				
			}
		})
	});
    window.addEventListener("click", function (event) {
    	var modal = document.getElementById("myModal");
    	var closeBtn = document.getElementById("closeBtn");
        closeBtn.addEventListener("click", toggleModal);
        // 모달의 검은색 배경 부분이 클릭된 경우 닫히도록 하는 코드
        if (event.target === modal) {
          toggleModal();
        }
      });

  
    
    
    // functions
    function toggleModal() {
    	document.getElementById("myModal").classList.toggle("show");
    }
	
   	function reqModal(requestNo){
   		$('#modalHtml').load('/review/insert?requestNo='+requestNo, function(){
   			toggleModal();
   		});
   	}
	
// 	const urlParams = new URL(location.href).searchParams;
		
// 	const cate =  urlParams.get('type') == null ? '' : urlParams.get('type');
// 	const reqSta =  urlParams.get('keyword') == null ? '' : urlParams.get('keyword');
// 	const pageNum = urlParams.get('pageNum') == null ? '1' : urlParams.get('pageNum');
// 	$('#categoryCategory').val(cate);
// 	$('#requestState').val(reqSta);
	
	
	$('#categoryCategory').on('change', (ev)=>{
		$('[name="categoryCode"]').val(ev.target.value)
		$('#usrReqList').submit();
	});
	
	$('#requestState').on('change', (ev)=>{
		$('[name="requestState"]').val(ev.target.value)
		$('#usrReqList').submit();
	});
	
	$('.pagination-wrap a').on('click', function(){
		$('[name="pageNum"]').val($(this).data("pagenum"))
		$('#usrReqList').submit();
	})
	
	
	
</script>
</html>