<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/user_mypage_layout}"
	layout:fragment="Content">
<head>
<meta charset="UTF-8">
<title>사용자 마이페이지</title>
</head>
<body>
  <h1>의뢰 목록</h1>
    <div class="row row-cols-3 row-cols-md-2 g-4">
	   <th:block th:each="request : ${requestList}">
	  <div class="col-lg-3 col-md-6 col-sm-12">
	    <div class="card">
<!-- 	      <img src="..." class="card-img-top" alt="..."> -->
	      <div class="card-body">
	        <h5 class="card-title">제목 : [[${request.title}]]</h5>
	        <p class="card-text">분야 : [[${request.categoryCode}]]</p>
	        <p class="card-text">진행상태 : [[${request.requestState}]]</p>
	      </div>
	    </div>
	  </div>
  </th:block>	
    </div>
   <div class="row pagination-wrap mt-5">
		<div class="col-md-12 text-center ">
			<div class="custom-pagination ml-auto">
				<a href="#" class="prev">Prev</a>
				<div class="d-inline-block">
					<a href="#" class="active">1</a> <a href="#">2</a> <a href="#">3</a>
					<a href="#">4</a>
				</div>
				<a href="#" class="next">Next</a>
			</div>
		</div>
	</div>
</body>
</html>