<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/worker_mypage_layout}"
	layout:fragment="Content">
<head>
<meta charset="UTF-8">
<title>작업자 마이페이지</title>
</head>
<body>
	<h3>[[${userVO.usersName}]]님 안녕하세요.</h3>

	

  




<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <button class="nav-link active" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">내가 쓴 계약서</button>
    <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">내가 쓴 견적서</button>
  </div>
</nav>
<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade show active" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
  	<th:block th:each="pps : ${proposalList}">
		<div class="list-group m-3">
		  <a th:href="@{/ppsInfo(proposalNo=${pps.proposalNo})}" class="list-group-item list-group-item-action">
		    <span>비고 : [[${pps.comments}]]</span><hr>
		    <span>단가 : [[${pps.total}]]</span>
		    <span>공사 일정: [[${#dates.format(pps.cttStartDt, 'yyyy-MM-dd')}]] ~ [[${#dates.format(pps.cttEndDt, 'yyyy-MM-dd')}]]</span>
		    <span>작성일 : [[${#dates.format(pps.writeDt, 'yyyy-MM-dd')}]]</span>
		    <span>구분 : [[${pps.proposalStateNm}]]</span>
		  </a>
		</div>
	</th:block>
	
	<!-- 페이징 구현 -->
  </div>
  <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
	<th:block th:each="ctt : ${contractList}">
		<div class="list-group m-3">
		  <a th:href="@{/conInfo(proposalNo=${ctt.proposalNo})}" class="list-group-item list-group-item-action">
		    <span>공사명 : [[${ctt.cttName}]]</span><hr>
		    <span>단가 : [[${ctt.cttPrice}]]</span>
		    <span>공사 일정: [[${#dates.format(ctt.cttStartDt, 'yyyy-MM-dd')}]] ~ [[${#dates.format(ctt.cttEndDt, 'yyyy-MM-dd')}]]</span>
		    <span>작성일 : [[${#dates.format(ctt.writeDt, 'yyyy-MM-dd')}]]</span>
		    <span>상태 : [[${ctt.contractStateNm}]]</span>
		  </a>
		</div>
	</th:block>
	<!-- 페이징 구현 -->
	
  </div>
</div>

</body>
</html>