<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/worker_mypage_layout}"
	layout:fragment="Content">
<head>
<meta charset="UTF-8">
<title>작업자 마이페이지</title>
<link rel="stylesheet" href="/css/rvw/rvInfo.css">
<style>
.yellow{
	font-size:90%;
}
.gray{
	font-size:90%;
}
</style>
</head>
<body>
	<h4>후기 목록</h4>
<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade show active" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
	 <!-- 후기목록 -->
    <th:block th:each="review : ${reviewList}">
      <div class="list-group m-3">
	    <a th:href="@{/review/info(reviewNo=${review.reviewNo})}" class="list-group-item list-group-item-action" aria-current="true">
		  <span>내용 : [[${review.content}]]</span><hr>
		  <span>작성일 : [[${#dates.format(review.writeDt, 'yyyy-MM-dd')}]]</span>
		  <div> 
		    <div class="star-rating ms-0">
           	  <p th:text="${review.star}" class="star" style="display:none" ></p>
           	  <div class="stars star-rating ms-0" >평점 : </div>
		    </div>
		    <fieldset class="reStar" style="display:none; width:10px; height:10px">
		      <input type="radio" name="star" value="5" id="rate1" th:checked="${review.star == 5}"><label for="rate1">★</label>
		      <input type="radio" name="star" value="4" id="rate2" th:checked="${review.star == 4}"><label for="rate2">★</label>
		      <input type="radio" name="star" value="3" id="rate3" th:checked="${review.star == 3}"><label for="rate3">★</label>
		      <input type="radio" name="star" value="2" id="rate4" th:checked="${review.star == 2}"><label for="rate4">★</label>
		      <input type="radio" name="star" value="1" id="rate5" th:checked="${review.star == 1}"><label for="rate5">★</label>
		      <span class="text-bold">평점 : </span>
		    </fieldset>
		  </div>
		  <div th:if="${review.reviewDivision != null}">
		    <span th:if="${review.reviewDivision == 'F'}">1차 후기</span>
		    <span th:if="${review.reviewDivision == 'S'}">2차 후기</span>
		  </div>
		</a>
	  </div>
	</th:block>
	  <!-- 페이징 구현 -->
    <div class="row pagination-wrap mt-5" >
      <div class="col-md-12 text-center ">
        <div class="custom-pagination ml-auto">
          <a th:if="${page.prev}" th:href="@{/worker/reviewList(pageNum=${page.startPage - 1})}" class="prev">Prev</a>
          <div class="d-inline-block" id="pagination">
            <th:block th:each="num : ${#numbers.sequence(page.startPage, page.endPage)}">
       	      <a th:class="${page.cri.pageNum == num ? 'active' : ''}" th:href="|@{/worker/reviewList(pageNum=${num})}|" >[[${num}]]</a>
	  	 	</th:block> 
          </div>
          <a th:if="${page.next}" th:href="@{/worker/reviewList(pageNum=${page.endPage + 1})}" class="next">Next</a>
        </div>
      </div>
    </div>
  </div>
</div>
<script th:inline="javascript">
//별점 출력
for(let i=0; i<$(".star").length; i++){
	for(let j=0; j<parseInt($(".star:eq("+i+")").text()); j++){
		$(".stars:eq("+i+")").append(`<div class="yellow">★</div>`);
	}
	for(let k=0; k<5-parseInt($(".star:eq("+i+")").text()); k++){
		$(".stars:eq("+i+")").append(`<div class="gray">★</div>`);
	}

}
</script>
</body>
</html>