<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/worker_mypage_layout}"
	layout:fragment="Content">
<head>
<meta charset="UTF-8">
<title>작업자 마이페이지</title>
<style>
div.careerList {
	margin-top: 20px;
}
a:hover {
	text-decoration: none;
}
</style>
</head>
<body>
<h4>포트폴리오 목록</h4>
<div class="row row-cols-1 row-cols-md-3 g-3">
	<th:block th:each="ptf : ${portfolioList}">
			<div class="card col-4">
			  <a th:href="|@{/find/workerPortfolio(portfolioNo=${ptf.portfolioNo})}|">
				<div class="card-body">
					<h5 class="card-title">
						<label for="ptfTitle">제목</label>
					</h5>
					<p class="card-text">
					  <input class="form-control d-inline-flex col-12" type="text"
					    id="ptfTitle" th:value="${ptf.title}" disabled>
					</p>
				</div>
				<ul class="list-group list-group-flush">
					<li class="list-group-item">
					<div>내용:</div>
					<span>[[${ptf.content}]]</span>
					<label for="ptfContent">내용</label>
					  <input class="form-control d-inline-flex col-7" type="text"
					  	 id="ptfContent" th:value="${ptf.content}" disabled><br>
					  <label for="ptfPyung">평수</label>
					  <input class="form-control d-inline-flex col-6" type="text"
						 id="ptfPyung" th:value="${ptf.pyung}" disabled><br>
					  <label for="ptfPrice">금액</label>
					  <input class="form-control d-inline-flex col-6" type="text"
						 id="ptfPrice" th:value="${ptf.price}" disabled>
					</li>
					<li class="list-group-item">
					  <label for="ptfWriteDt col-4">작성일</label>
					  <input class="form-control d-inline-flex col-8" type="text"
					    id="ptfWriteDt"
					    th:value="${#dates.format(ptf.writeDt,'yyyy-MM-dd')}"
					    disabled readonly>
					</li>
				</ul>
	  	  </a>
			</div>
	</th:block>
		</div>
	
	<!-- 페이징 구현 -->
   <div class="row pagination-wrap mt-5" >
      <div class="col-md-12 text-center ">
        <div class="custom-pagination ml-auto">
          <a th:if="${page.prev}" th:href="@{/worker/portfolioList(pageNum=${page.startPage - 1})}" class="prev">Prev</a>
          <div class="d-inline-block" id="pagination">
            <th:block th:each="num : ${#numbers.sequence(page.startPage, page.endPage)}">
       	      <a th:class="${page.cri.pageNum == num ? 'active' : ''}" th:href="|@{/worker/portfolioList(pageNum=${num})}|" >[[${num}]]</a>
	  	 	</th:block> 
          </div>
          <a th:if="${page.next}" th:href="@{/worker/portfolioList(pageNum=${page.endPage + 1})}" class="next">Next</a>
        </div>
      </div>
    </div>
</body>
</html>