<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/worker_mypage_layout}"
	layout:fragment="Content">
<head>
<meta charset="UTF-8">
<title>작업자 마이페이지</title>
<style>
span.regionTag{
	border-radius: 10px; 
	margin-right: 10px;
	padding: 5px 10px;
	color: white;
	background-color: #1263CE;
}
</style>
</head>
<body>
 <div class="container">
	<h3>[[${userId.usersName}]]님 안녕하세요.</h3>
	<hr>
	<h1>회원 정보</h1>
	<div>
		<div>
			<label for="usersNick">닉네임</label>
			<input class="form-control" type="text" 
			id="usersNick" th:value="${userId.usersName}" disabled readonly>
		</div>
		<div>
			<label for="usersPhone">전화번호</label>
			<input class="form-control" type="text" 
			id="usersPhone" th:value="${userId.usersPhone}" disabled readonly>
		</div>
		<div>
			<label for="usersEmail">이메일</label>
			<input class="form-control" type="email" 
			id="usersEmail" th:value="${userId.usersEmail}" disabled readonly>
		</div>
		<div class="row form-group">
			<label class="text-black" for="regions">주 활동지역</label>
			<div class="col-md-12 mb-3 mb-md-0" id="region0">
				
			</div>
		</div>
		<div class="row form-group">
			<label class="text-black" for="categories">작업 분야</label>
			<div class="col-md-12 mb-3 mb-md-0" id="categories0">

			</div>
		</div>

		
<!-- 		<button type="button" th:onclick="|location.href='@{/worker/update}'|">수정하기</button> -->
	</div>
  </div>
</body>
<script th:inline="javascript">
	let categories = /*[[${categories}]]*/"";
	let regions = /*[[${regions}]]*/"";
	regions.forEach((ele, idx)=>{
		console.log(ele.REGION_CODE);
		$('#region0').append(`<span class="regionTag">${ele.REGION_CODE}</span>`)
	})
	
	categories.forEach((e, i) => {
		console.log(e.CATEGORY_CODE);
		$('#categories0').append(`<span class="regionTag">${e.CATEGORY_CODE}</span>`)
	})
	
	
</script>
</html>