<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/worker_mypage_layout}"
	layout:fragment="Content">
<head>
<meta charset="UTF-8">
<title>작업자 마이페이지</title>
</head>
<body>
 <div class="container">
	<h4>회원 정보</h4>
	<div>
		<div class="row mb-3">
			<div class="col-md-2">
				<label for="usersNick">닉네임</label>
			</div>
			<div class="col">
				<input class="form-control" type="text" 
				id="usersNick" th:value="${userVO.usersNick}" disabled readonly>
			</div>
		</div>
		<div class="row mb-3">
			<div class="col-md-2">
				<label for="usersPhone">전화번호</label>
			</div>
			<div class="col">
				<input class="form-control" type="text" 
				id="usersPhone" th:value="${userVO.usersPhone}" disabled readonly>
			</div>
		</div>
		<div class="row mb-3">
			<div class="col-md-2">
				<label for="usersEmail">이메일</label>
			</div>
			<div class="col">
				<input class="form-control" type="email" 
				id="usersEmail" th:value="${userVO.usersEmail}" disabled readonly>
			</div>
		</div>
		<div class="row mb-3">
			<label class="text-black" for="regions">주 활동지역</label>
			<div class="d-flex flex-wrap" id="region0">
				
			</div>
		</div>
		<div class="row mb-3">
			<label class="text-black" for="categories">작업 분야</label>
			<div class="d-flex flex-wrap" id="categories0">
				
			</div>
		</div>
	</div>
  </div>
</body>
<script th:inline="javascript">
	let categories = /*[[${categories}]]*/"";
	let regions = /*[[${regions}]]*/"";
	regions.forEach((ele, idx)=>{
		$('#region0').append(`<span class="border rounded-4 pt-1 pb-1 pl-2 pr-2 m-1 bg-success text-light">${ele.REGION_CODE}</span>`)
	})
	
	categories.forEach((e, i) => {
		$('#categories0').append(`<span class="border rounded-4 pt-1 pb-1 pl-2 pr-2 m-1 bg-success text-light">${e.CATEGORY_CODE}</span>`)
	})
	
	
</script>
</html>