<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/worker_mypage_layout}"
	layout:fragment="Content">
<head>
<meta charset="UTF-8">
<title>작업자 마이페이지</title>
</head>
<body>
<hr>
<h4>경력증명서 등록</h4>
	<form th:action="@{/worker/careerInsert}" th:object="${CareerVO}"
		method="post" class="p-4 border rounded" name="insertCareer" enctype="multipart/form-data">
		<input type="hidden" th:field="${userVO.usersNo}">
		
		<div class="row mb-2">
			<div class="col-md-2">
				<label class="text-black" for="careerStartDt">근무기간</label>
			</div>
			<div class="col-md-4">
				<input name="careerStartDt" type="date" id="careerStartDt" 
				class="form-control" th:field="${car.careerStartDt}" placeholder="YYYY-MM-DD(시작일)">
			</div>
			
				<strong class="col-md-2 text-center"> - </strong>
			
			<div class="col-md-4">
				<input name="careerEndDt" type="date" id="careerEndDt" 
				class="form-control" th:field="${car.careerEndDt}" placeholder="YYYY-MM-DD(종료일)">
			</div>
		</div>
		
		<div class="row mb-2">
			<div class="col-md-2">
				<label for="careerInfo" class="text-black">작업내용</label>
			</div>
			<div class="col-md-10">
				<input name="careerInfo" type="text" id="careerInfo" class="form-control" th:field="${car.careerInfo}" >
			</div>
		</div>
		<div class="row mb-2">
			<div class="col-md-2">  
			<label for="uploadFile" class="text-black">파일첨부</label>
			</div>
			<div class="col-md-10"> 
			<input name="uploadFile" type="file" multiple="multiple" id="uploadFile" class="form-control">
			</div>		
		</div>
		<div class="row">
			<div class="col-md-3">
				<button type="button" id="insert-career-Btn" class="btn px-4 btn-primary text-white">등록하기</button>
			</div>
		</div>
	</form>

<script th:inline="javascript">
	$('#insert-career-Btn').click(() => {checkCareer()}); 
	function checkCareer(){
		var startDt = $('#careerStartDt').val();
		var endDt = $('#careerEndDt').val();
		var carInfo = $('#careerInfo').val();
		var uploadFile = $('#uploadFile').val(); 
		//파일첨부 = ~;
		if(startDt == '' || endDt == ''){
		  Swal.fire({
		    text:'근무기간을 입력해주세요',
			icon: 'warning' 
		 })
		 return false;
		}
		 
		if(carInfo == ''){
			Swal.fire({
				text:'작업내용을 입력해주세요',
				icon: 'warning' 
			})
		 	return false;
		}
		
		if(uploadFile == ''){
			Swal.fire({
				text:'경력증명서 첨부필요.',
				icon: 'warning' 
			})
		 	return false;
		}
		$(insertCareer).submit();
	};
	
		$('#careerEndDt').on('change', function(){
			if($('#careerStartDt').val() > $('#careerEndDt').val()){
				return ;
			}
			
		});
		
	
</script>
</body>
</html>