<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/worker_mypage_layout}"
	layout:fragment="Content">
<head>
<meta charset="UTF-8">
<title>작업자 마이페이지</title>
</head>
<body>
<hr>
<h4>포트폴리오 등록</h4>
	<div class="col-md-4 mb-3 mb-md-0 d-inline-flex">
		<label class="text-black col-md-4" for="usersName">성명</label>
		 <input name="usersName" type="text" id="usersName"
		  class="form-control d-inline-flex col-md-6" th:value="${userVO.usersName}" disabled>
	</div>
	
	<div class="col-md-4 mb-3 mb-md-0 d-inline-flex">
		<label class="text-black col-md-5" for="usersBirth">생년월일</label>
		 <input name="usersBirth" type="text" id="usersBirth"
		  class="form-control d-inline-flex col-md-6" th:value="${userVO.usersBirth}" disabled>
	</div>
	
	<form th:action="@{/worker/portfolioInsert}" th:object="${PortfolioVO}"
		method="post" class="p-4 border rounded" name="insertCareer" enctype="multipart/form-data">
		<input type="hidden" th:field="${userVO.usersNo}">
		<div class="row mb-2">
			<div class="col-md-2">
				<label class="text-black" for="title">제목</label>
			</div>
			<div class="col-md-8">
				<input type="text" id="title" class="form-control" th:field="${ptf.title}">
			</div>
		</div>
		<div class="row mb-2">
			<div class="col-md-2">
				<label class="text-black" for="content">내용</label>
			</div>
			<div class="col-md-8">
				<input type="text" id="content" class="form-control" th:field="${ptf.content}" >
			</div>
		</div>
		<div class="row mb-2">
			<div class="col-md-2">
				<label class="text-black" for="workTime">작업 기간(일)</label>
			</div>
			<div class="col-md-8">
				<input type="text" id="workTime" class="form-control" th:field="${ptf.workTime}" placeholder="OO일">
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 mb-3 mb-md-0">
			<label class="text-black" for="pyung">평수</label>
			<select name="pyung">
				<th:block th:each="py : ${pyung}">
					<option th:id="${py.codeNo}" th:value="${py.codeNo}">[[${py.codeName}]]</option>
				</th:block>
			</select>
			</div>
			<div class="col-md-6 mb-3 mb-md-0">
			<label class="text-black" for="categories">작업 분야</label>
			<select name="categoryCode">
				<th:block th:each="category : ${categories}">
					<option th:id="${category.codeNo}" th:value="${category.codeNo}">[[${category.codeName}]]</option>
				</th:block>
			</select>
			</div>
		</div>
		<div class="row">
		</div>
		<div class="row mb-2">
			<div class="col-md-2">  
			<label for="uploadFile" class="text-black">파일첨부</label>
			</div>
			<div class="col-md-10"> 
			<input name="uploadFile" type="file" multiple="multiple" id="uploadFile" class="form-control">
			</div>		
		</div>
		
		<div class="col-md-3">
			<button type="submit" id="insert-ptf-Btn" class="btn px-4 btn-primary text-white">등록하기</button>
		</div>
	</form>
<script th:inline="javascript">
	$('#insert-ptf-Btn').click(() => {checkPtf()}); 
	function checkCareer(){
		var title = $('#title').val();
		var content = $('#content').val();
		var carInfo = $('#careerInfo').val();
		var uploadFile = $('#uploadFile').val(); 
		//파일첨부 = ~;
		if(startDt == '' || endDt == ''){
		  Swal.fire({
		    text:'근무기간을 입력해주세요',
			icon: 'warning' 
		 })
		 return false;
		}
		 
		if(carInfo == ''){
			Swal.fire({
				text:'작업내용을 입력해주세요',
				icon: 'warning' 
			})
		 	return false;
		}
		
		if(uploadFile == ''){
			Swal.fire({
				text:'경력증명서 첨부필요.',
				icon: 'warning' 
			})
		 	return false;
		}
		$(insertCareer).submit();
	};

	
</script>
</body>
</html>