<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/worker_mypage_layout}"
	layout:fragment="Content">
<head>
<meta charset="UTF-8">
<title>작업자 마이페이지</title>
<style>
button.teamBtn {
	border-bottom-left-radius: 0.25rem;
	border-bottom-right-radius: 0.25rem;
	border: 1px solid rgba(0, 0, 0, 0.125);
	background-color: #efefef !important;
}
</style>
</head>
<body>
<form name="wkrPpsList" id="wkrPpsList">
<input type="hidden" name="proposalState" th:value="${cri.proposalState}">
<input type="hidden" name="pageNum">
</form>

	<div class="d-flex mb-3">
	  <div class="me-auto p-2">
	  <h4>내가 쓴 견적서</h4>
	  </div>
	  <div class="p-2">
	    <select id="proposalStateCategory">
	    	<option value="">구분</option>
			<option th:each="proSta : ${proposalState}" th:value="${proSta.codeNo}"
				th:selected="${cri.proposalState} == ${proSta.codeNo}">
				[[${proSta.codeName}]]
			</option>    
	    </select>
	  </div>
	  </div>
<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade show active" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
  	<th:block th:each="pps : ${proposalList}">
		<div class="list-group m-3" style="font-size:14px;">
		  <a th:href="@{/ppsInfo(proposalNo=${pps.proposalNo})}" class="list-group-item list-group-item-action">
		    <strong>[[${pps.comments}]]</strong> <span class="state" style="float:right;" th:if="${pps.proposalState} != null"><strong>[[${pps.proposalStateNm}]]</strong></span></h5> <br>
		    <span>[[${#numbers.formatDecimal(pps.total, 0, 'COMMA', 0,'POINT')}]]원</span>
		    <span style="float:right;">[[${#dates.format(pps.cttStartDt, 'yyyy-MM-dd')}]] ~ [[${#dates.format(pps.cttEndDt, 'yyyy-MM-dd')}]]</span><br>
		    
		  </a>
		  <th:block th:if="${pps.contractNo <= 0}">
			  <button class="teamBtn" type="button" th:onclick="|location.href='@{/conInsert(proposalNo=${pps.proposalNo})}'|" 
			  th:if="${pps.proposalState} == 'A02'">계약서 작성하러가기</button>
		  </th:block>
		</div>
	</th:block>
	<!-- 데이터가 없을시 출력문구 -->
  <div th:if="${page.total == 0}">데이터가 없습니다.</div>
  </div>
</div>
<!-- 페이징 구현 -->
<div class="row pagination-wrap mt-5" >
      <div class="col-md-12 text-center ">
        <div class="custom-pagination ml-auto">
          <a th:if="${page.prev}" href="#" th:data-pagenum="${page.startPage - 1}" class="prev">Prev</a>
          <div class="d-inline-block" id="pagination">
            <th:block th:each="num : ${#numbers.sequence(page.startPage, page.endPage)}">
       	      <a th:class="${page.cri.pageNum == num ? 'active' : ''}" href="#" th:data-pagenum="${num}">[[${num}]]</a>
	  	 	</th:block> 
          </div>
          <a th:if="${page.next}" href="#" th:data-pagenum="${page.endPage + 1}" class="next">Next</a>
        </div>
      </div>
    </div>
</body>
<script th:inline="javascript">
	$(document).ready(function () {
		$('span.state').each((i, e) => {
			if ($(e).text() == '승인'){
				$(e).css('color','blue');
			}
			if ($(e).text() == '대기'){
				$(e).css('color','green');
			}
			if ($(e).text() == '반려'){
				$(e).css('color','red');
			}
		})
	});
	$('#proposalStateCategory').on('change', (ev) => {
		$('[name="proposalState"]').val(ev.target.value)
		$('#wkrPpsList').submit();
	});
	$('.pagination-wrap a').on('click', function(){
		$('[name="pageNum"]').val($(this).data("pagenum"))
		$('#wkrPpsList').submit();
	})
	
</script>
</html>