<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/worker_mypage_layout}"
	layout:fragment="Content">
<head>
<meta charset="UTF-8">
<title>작업자 마이페이지</title>
<style>
.modal-backdrop{
	display: none;
}
.modal-content {
	box-shadow:50px !important;
}
</style>
</head>
<body>
<h4>자격증 목록</h4>
<form name="wkrlicList" id="wkrlicList">
<input type="hidden" name="pageNum">	
</form>

<ul class="list-group list-group-flush">
  <th:block th:each="lic : ${licenseList}" varStatus="vs">
    <ol class="list-group mb-2">
      <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
        <div class="fw-bold">[[${lic.licenseInfo}]]</div>
          [[${#dates.format(lic.writeDt, 'yyyy-MM-dd')}]]
        </div>
        <span class="badge"><button type="button" class="btn btn-primary" data-bs-toggle="modal" th:attr="data-bs-target=${'#exampleModal'+lic.licenseNo}">상세보기</button></span>
        <!-- Modal -->
		<div class="modal fade" th:attr="id='exampleModal'+${lic.licenseNo}" aria-labelledby="exampleModalLabel" aria-hidden="true">
		  <div class="modal-dialog modal-dialog-centered">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h1 class="modal-title fs-5" id="exampleModalLabel">자격증 정보</h1>
		        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		      </div>
		      <div class="modal-body">
		        <ul class="list-group list-group-flush">
				  <li class="list-group-item">[[${lic.licenseInfo}]]</li>
				  <li class="list-group-item">자격증 번호 : [[${lic.licenseDetailNo}]]</li>
				  <li class="list-group-item">취득일 : [[${#dates.format(lic.licenseGetDt, 'yyyy-MM-dd')}]]</li>
				  <li class="list-group-item">인증기관 : [[${lic.checkCenter}]]</li>
				  <li class="list-group-item">등록일 : [[${#dates.format(lic.writeDt, 'yyyy-MM-dd')}]]</li>
				  <li class="list-group-item">
				    <a th:href="|/download?fileName=${#strings.replace(lic.savePath, '\', '/')}/${lic.saveName}_${lic.originalFileName}.${lic.ext}|">
                      [[${lic.originalFileName}]].[[${lic.ext}]]
                    </a>
				  </li>
				</ul>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
		      </div>
		    </div>
		  </div>
		</div>
      </li>
    </ol>
  </th:block>
  <div th:if="${page.total == 0}">자격증이 없습니다.</div>
</ul>


  <!-- 페이징 구현 -->
   <div class="row pagination-wrap mt-5" >
      <div class="col-md-12 text-center ">
        <div class="custom-pagination ml-auto">
          <a th:if="${page.prev}" href="#" th:data-pagenum="${page.startPage - 1}" class="prev">Prev</a>
          <div class="d-inline-block" id="pagination">
            <th:block th:each="num : ${#numbers.sequence(page.startPage, page.endPage)}">
       	      <a th:class="${page.cri.pageNum == num ? 'active' : ''}" href="#" th:data-pagenum="${num}">[[${num}]]</a>
	  	 	</th:block> 
          </div>
          <a th:if="${page.next}" href="#" th:data-pagenum="${page.endPage + 1}" class="next">Next</a>
        </div>
      </div>
    </div>
  
<script th:inline="javascript">
	$('.pagination-wrap a').on('click', function(){
		$('[name="pageNum"]').val($(this).data("pagenum"))
		$('#wkrlicList').submit();
	})
</script>
</body>
</html>