<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yedam.app.req.mapper.RequestMapper">
<!-- 전체 조회 -->
<select id="selectRequestAll" resultType="RequestVO">
	SELECT r.request_no
		  ,r.requester
		  ,FIND_COMMONCODE(r.ctt_place) as ctt_place
		  ,r.ctt_place_area
		  ,FIND_COMMONCODE(r.ctt_place_situation) as ctt_place_situation
		  ,r.hope_ctt_budget
		  ,r.hope_ctt_start_dt
		  ,r.hope_ctt_end_dt
		  ,r.postcode
		  ,r.address
		  ,r.detail_address
		  ,r.title
		  ,r.content
		  ,r.write_dt
		  ,FIND_COMMONCODE(r.request_state) as request_state
		  ,FIND_COMMONCODE(r.region_code) as region_code
		  ,r.file_id
		  ,FIND_COMMONCODE(r.category_code) as category_code
          ,u.users_name
	FROM request r
        JOIN users u
        ON r.requester = u.users_no
	ORDER BY r.request_no desc
</select>
</mapper>