<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yedam.app.rvw.mapper.ReviewMapper">
<!-- 후기 전체 조회 -->
<select id="reviewList" resultType="ReviewVO">

	 SELECT	r.review_no
			,r.request_no
			,FIND_COMMONCODE(q.region_code) as region_code
			,r.writer
			,r.worker
			,USERNAME(r.writer) as writer_name
            ,USERNAME(r.worker) as worker_name
			,r.star
			,r.content
			,r.write_dt
			,r.review_division
			,r.file_id
            ,f.save_name
            ,f.ext
	  FROM review r
	  	JOIN request q
	  	ON r.request_no = q.request_no
        LEFT OUTER JOIN file_detail_info f
	    ON( r.file_id = f.file_id and f.boss_tf = 'Y')
	  ORDER BY review_no desc
</select>



</mapper>