<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorate="~{common/layouts/default_layout}"
		layout:fragment="Content">
<style>
.margin{
	margin:10px 50px;
}
.search{
	text-align:center;
	margin:50px;
}
.input{
	width:500px;
}
img{ 
 	width:250px; 
 	height:200px; 
 } 

</style>
<head>
<meta charset="UTF-8">
<title>후기 목록</title>
</head>
<body>

<section class="site-section">
<h2 class="margin">후기 목록</h2>
	<div>
		<div class="search">
			<input class="input" type="text">
			<button class="btn btn-primary">검색</button>	
		</div>
	</div>
      <div class="container">
        <div class="row mb-5">
        <th:block th:each=" rv : ${rvList}">
          <div class="col-md-6 col-lg-3 mb-5">
            <a>
             <img th:src="@{/images/interior.jpg}" alt="Image" class="rounded mb-4">
            </a>
            <h3><a class="text-black"></a></h3>
            <div>[[${rv.star}]]</span></div>
            <div>작업자명 : [[${rv.workerName}]] <span class="mx-2">|</span> [[${rv.regionCode}]] </div>
          </div>
         </th:block>
        </div>
        <div class="row pagination-wrap mt-5">
          
          <div class="col-md-12 text-center ">
            <div class="custom-pagination ml-auto">
              <a href="#" class="prev">Prev</a>
              <div class="d-inline-block">
              <a href="#" class="active">1</a>
			  
              <a href="#">2</a>
              <a href="#">3</a>
              <a href="#">4</a>
              </div>
              <a href="#" class="next">Next</a>
            </div>
          </div>
        </div>

      </div>
    </section>
	
</body>
</html>