<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/default_layout}"
      layout:fragment="Content">
<head>
<style>
.cursor {
	cursor:pointer;
	font-size:20px;
	text-decoration: underline;
}
</style>
    <meta charset="UTF-8">
    <title>팀 모집 글쓰기</title>
</head>
<body>
<form name="insertTeam">
    <h4>팀원 모집 글 작성</h4>
    <input type="hidden" name="contractNo" th:value="${contractNo}">
    <table class="table">
        <tbody>
            <tr>
                <td><input type="hidden"  name="writer" th:value="${#authentication.principal.userNo}"></td>
            </tr>
            <tr>
                <th>작업 제목</th>
                <td colspan="4"><input type="text" class="form-control" name="workTitle"></td>
            </tr>
            <tr>
                <th>작업 내용</th>
                <td colspan="4"><textarea name="workContent" class="form-control" ></textarea></td>
            </tr>
            <tr>
                <th>의뢰 내용</th>
                <td colspan="4" class="cursor">
                <a th:onclick="|window.open('/request/info?requestNo=${request.requestNo}')|">의뢰 바로가기</a>
                </td>
            </tr>
            <tr id="detail-template">
                <th></th>
                <td>
                    <select name="workCategoryVO[0].workCode">
                        <option th:each="category : ${categoryCode}"
                                th:value="${category.codeNo}"
                                th:text="${category.codeName}">
                        </option>
                    </select>
                </td>
                <td><input type="text"  name="workCategoryVO[0].headcount">명</td>
                <input type="hidden" name="workCategoryVO[0].hireCompleteTf" value="F">
            </tr>
        </tbody>
    </table>
    <button type="button" class="btn btn-primary insert">등록</button>
    <button id="btn-add-row" class="btn btn-primary" type="button">+</button>
    <button id="btn-delete-row" class="btn btn-primary" type="button">ㅡ</button>
</form>
<script src="/js/tem/teamRequestInsert.js"></script>
</body>
</html>
