<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorate="~{common/layouts/default_layout}"
		layout:fragment="Content">
<head>
<meta charset="UTF-8">
<title>팀 모집 상세</title>
</head>
<style>
.btnn{
    background: transparent;
	border:none;
    font-size:14px;
    margin:1px;
    width:80px;
}
</style>
<body>
<form name="infoForm" th:object="${team}">
<h4>팀 신청 상세보기</h4>
			<input type="hidden" th:field="*{teamNo}">
	<table class="table team">
		<tr>
			<th>제목</th>
			<td colspan="3"><input class="border border-light" th:field="*{workTitle}" readonly></td>
		</tr>
		<tr>
			<th>내용</th>
			<td colspan="3"><textarea class=" w-75 p-3 h-100 d-inline-bl
				ock border border-light" name="workContent" th:text="${team.workContent}" readonly></textarea></td>
		</tr>
		<tr>
			<th></th>
			<td colspan="3"><a>의뢰 상세보기</a></td>
		</tr>
	</table>
</form>
<form name="detailInfoForm" th:object="${team}">
	<table class="table">
	    <tr>
	        <th colspan="4">모집분야/인원</th>
	    </tr>
	    <th:block th:each="twc :${team.workCategoryVO}">
	        <tr id="detail">
	            <th></th>
	            <input type="hidden" th:value="${twc.teamNo}" name="teamNo">
	            <input type="hidden" th:value="${twc.categoryCode}" name="categoryCode">
				<input type="hidden" th:value="${twc.hireCompleteTf}" name="hireCompleteTf">
	            <td>
	                <select th:value="${twc.categoryCode}" name="workCode" disabled  >
						<option th:each="category :${categoryCode}" 
	                            th:value="${category.codeNo}" 
	                            th:text="${category.codeName}"
	                            th:selected="${category.codeNo} == ${twc.categoryCode}">
	                    </option>
	               </select>
	            </td>
	            <td> [[${twc.partCount}]] / <input class="border border-light" th:value="${twc.headcount}" name="headcount" readonly></td>
	            <td>
	                <button type="button" class="btnn">신청자 확인하기</button> 
	                <button type="button" class="btnn deUpdate deUpBtn">수정</button> 
	                <button type="button" class="btnn" th:onclick="|location.href='@{/team/teamDetailDelete(teamNo=${twc.teamNo},workCode=${twc.categoryCode})}'|">삭제</button>
	            </td>
	        </tr>
	    </th:block>
	</table>
</form>
	<button type="button" class="btn btn-primary upBtn update" >수정</button>
	<button type="button" class="btn btn-primary" th:onclick="|location.href='@{/team/requestDelete(teamNo=${team.teamNo})}'|">삭제</button>
<script src="/js/tem/teamRequestUpdate.js"></script>
</body>
</html>