<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorate="~{common/layouts/default_layout}"
		layout:fragment="Content">
<head>
<meta charset="UTF-8">
<title>팀 모집 상세</title>
</head>
<body>
<form name="infoForm" th:object="${team}">
	<table class="table">
		<tr>
			<th>제목</th>
			<td><input th:field="*{workTitle}"></td>
		</tr>
		<tr>
			<th>내용</th>
			<td><textarea name="workContent" th:text="${team.workContent}"></textarea></td>
		</tr>
		<tr>
			<th></th>
			<td><a>의뢰 상세보기</a></td>
		</tr>
		<tr>
			<th>모집분야/인원</th>
			<th:block th:each="twc :${team.workCategoryVO}">
				<td>[[${twc.workCode}]]<span>|</span>n/[[${twc.headcount}]]</td>
			</th:block>
		</tr>
	</table>
</form>
</body>
</html>