<!DOCTYPE html>
<html
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{common/layouts/main_layout}"
  layout:fragment="Content"
>
  <head>
    <title>이지테리어 | EZT</title>
  </head>
  <body>
    <!-- HOME -->
    <div>
      <section>
        <div
          class="mb-5"
          style="width: 100%; height: 280px; background-color: green"
        >
          <p>배너 들어가야할듯</p>
        </div>
      </section>
    </div>
    <div class="container">
      <section
        class="mb-5"
        style="
          width: 100%;
          height: 395px;
          background-color: rgba(red, green, blue, 0.1);
        "
      >
        <div>
          <h4>다양한 의뢰 카테고리가 준비되어 있어요</h4>
        </div>
        <div class="">
          <div class="p-3 bg-light my-4">
            <div>
              <h5>지역</h5>
            </div>
            <ul class="row">
              <li class="col">
                <a
                  ><div><img src="" alt="null" /></div>
                  <strong>서울</strong></a
                >
              </li>
              <li class="col">
                <a
                  ><div><img src="" alt="null" /></div>
                  <strong>대구</strong></a
                >
              </li>
              <li class="col">
                <a
                  ><div><img src="" alt="null" /></div>
                  <strong>대전</strong></a
                >
              </li>
              <li class="col">
                <a
                  ><div><img src="" alt="null" /></div>
                  <strong>부산</strong></a
                >
              </li>
              <li class="col">
                <a
                  ><div><img src="" alt="null" /></div>
                  <strong>경기</strong></a
                >
              </li>
              <li class="col">
                <a
                  ><div><img src="" alt="null" /></div>
                  <strong>전남</strong></a
                >
              </li>
              <li class="col">
                <a
                  ><div><img src="" alt="null" /></div>
                  <strong>전북</strong></a
                >
              </li>
              <li class="col">
                <a
                  ><div><img src="" alt="null" /></div>
                  <strong>광주</strong></a
                >
              </li>
              <li class="col">
                <a
                  ><div><img src="" alt="null" /></div>
                  <strong>제주</strong></a
                >
              </li>
            </ul>
          </div>
          <div class="p-3 bg-light my-4">
            <div>
              <h5>카테고리</h5>
            </div>
            <ul class="row">
              <li class="col">
                <a
                  ><div><img src="" alt="null" /></div>
                  <strong>서울</strong></a
                >
              </li>
              <li class="col">
                <a
                  ><div><img src="" alt="null" /></div>
                  <strong>대구</strong></a
                >
              </li>
              <li class="col">
                <a
                  ><div><img src="" alt="null" /></div>
                  <strong>대전</strong></a
                >
              </li>
              <li class="col">
                <a
                  ><div><img src="" alt="null" /></div>
                  <strong>부산</strong></a
                >
              </li>
              <li class="col">
                <a
                  ><div><img src="" alt="null" /></div>
                  <strong>경기</strong></a
                >
              </li>
              <li class="col">
                <a
                  ><div><img src="" alt="null" /></div>
                  <strong>전남</strong></a
                >
              </li>
              <li class="col">
                <a
                  ><div><img src="" alt="null" /></div>
                  <strong>전북</strong></a
                >
              </li>
              <li class="col">
                <a
                  ><div><img src="" alt="null" /></div>
                  <strong>광주</strong></a
                >
              </li>
              <li class="col">
                <a
                  ><div><img src="" alt="null" /></div>
                  <strong>제주</strong></a
                >
              </li>
            </ul>
          </div>
        </div>
      </section>
      <section
        class="mb-5"
        style="width: 100%; background-color: rgba(red, green, blue, 0.1)"
      >
        <div>
          <div>
            <h4>다양한 후기들</h4>
          </div>
          <div class="row">
            <div class="col">
              <a>
                <div>
                  <img alt="null" />
                </div>
                <div>
                  <ul>
                    <li>의뢰 제목</li>
                    <li>별점</li>
                  </ul>
                </div>
              </a>
            </div>
            <div class="col">
              <a>
                <div>
                  <img alt="null" />
                </div>
                <div>
                  <ul>
                    <li>의뢰 제목</li>
                    <li>별점</li>
                  </ul>
                </div>
              </a>
            </div>
            <div class="col">
              <a>
                <div>
                  <img alt="null" />
                </div>
                <div>
                  <ul>
                    <li>의뢰 제목</li>
                    <li>별점</li>
                  </ul>
                </div>
              </a>
            </div>
            <div class="col">
              <a>
                <div>
                  <img alt="null" />
                </div>
                <div>
                  <ul>
                    <li>의뢰 제목</li>
                    <li>별점</li>
                  </ul>
                </div>
              </a>
            </div>
          </div>
        </div>
      </section>
      <section class="mb-5">
        <div>
          <div>
            <div>
              <h2>내게 필요한 시공 전문가</h2>
              <p>
                누적 거래 524만 건!<br />700여 개의 카테고리와 6만여 개
                서비스에서<br />필요한 모든 전문가를 만나보세요.
              </p>
            </div>
            <div>
              <div></div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <script>
      $("div > #logout").on("click", function (e) {
        Swal.fire({
          text: "로그아웃 되었습니다.",
          icon: "success",
          showConfirmButton: false,
        });
        setTimeout(() => (location.href = "/logout"), 800);
      });
    </script>
  </body>
</html>
