<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
  <head>
    <meta charset="UTF-8" />
    <th:block
      th:replace="common/configs/default_config :: ConfigFragment"
    ></th:block>
    <scr th:insert="common/fragments/default_scr :: scrFragment"></scr>
    <style>
      .back-smooth {
        position: absolute;
        top: 0;
        z-index: -5;
        width: 100%;
        height: 576px;
        background: black !important;
        background: linear-gradient(
          0deg,
          rgba(255, 255, 255, 1) 0%,
          rgba(244, 244, 244, 1) 100%
        ) !important;
      }
    </style>
  </head>
  <body id="top">
    <div class="site-wrap">
      <mobile
        th:insert="common/fragments/default_mobile :: mobileFragment"
      ></mobile>
      <header
        class="site-navbar mt-3"
        th:insert="common/fragments/default_header :: headerFragment"
      ></header>
      <section
        class="section-hero inner-page"
        id="home-section"
        style="background-color: white"
      ></section>
      <sectoin class="back-smooth"></sectoin>
      <section class="site-section">
        <div class="container">
          <main layout:fragment="Content"></main>
        </div>
      </section>
      <footer
        class="site-footer"
        th:insert="common/fragments/default_footer :: footerFragment"
      ></footer>
    </div>
  </body>
</html>
