<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="reportFragment">

<style>


.input_warning{
	position:absolute;
	display:flex;
	font-size: 14px;
	color: red;

}
</style>
<div class="modal-header">
	<h1 class="modal-title fs-5 text-center" id="staticBackdropLabel">
		<b>공사 보고 작성</b>
	</h1>
	<button type="button" class="btn-close" data-bs-dismiss="modal"
		aria-label="Close" name="closeBtn" onClick="reportCloseAction()"></button>
</div>
<div class="modal-body mx-3 my-3">
	<form name="reportInsertForm">
		<ul class="list-unstyled mb-0">
			<li class="mb-2 row form-group pb-3"><div class="col-4">
					<input type="hidden" name="cttReportNo">
					<input type="hidden" name="contractNo">
					<strong class="text-black">제목</strong>
				</div>
				<div class="col">
					<input type="text" class="form-control" name="title" onkeyup="chkword(this,30);">
					<p class="input_warning fw-medium"></p>
				</div></li>
			<li class="mb-2 row form-group pb-3"><div class="col-4">
					<strong class="text-black">공사 보고 유형</strong>
				</div>
				<div class="col">
					<input type="hidden" name="cttDivision">
					<select class="form-select" id="rpt_divi">
					<option selected>유형 선택</option>
					</select>
				</div></li>
			<li class="mb-2 row form-group"><div class="col-4">
					<strong class="text-black">공사 보고 일시</strong>
				</div>
				<div class="col">
					<b><span class="cur_year">2024-</span><span
									class="cur_month">06-</span><span class="cur_day">28</span></b>
				</div></li>

			<li>
				<div class="form-floating pb-2"
					style="margin-top: 30px; margin-bottom: 30px">
					<textarea class="form-control" placeholder="Leave a comment here"
						style="height: 100px" id="floatingTextarea" name="detailContent" onkeyup="chkword(this,2000);"></textarea>
					<p class="input_warning fw-medium"></p>
					<label for="floatingTextarea"><b>상세 내용</b></label>
				</div>
			</li>
			<li>
				<p class="uploadTitle mt-3">첨부 이미지 업로드(최대 5장)</p>
				<div class="uploadDiv">
					<label for="multiFile">파일찾기</label> <input type="file"
						multiple="multiple" name="uploadFile" id="multiFile"
						onChange="modalFileList()" onClick="fileUploadBtn()">
				</div>
				<div class="uploadModal bg-light mt-3">
					<div class="row"></div>
				</div>
			</li>
		</ul>
	</form>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-primary" onClick="reportInsertAction()">등록</button>
	<button type="button" class="btn btn-secondary" data-bs-dismiss="modal" name="closeBtn" onClick="reportCloseAction()">닫기</button>
</div>

</html>