<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="reportFragment">

<style>

.uploadResult img{
display: block;
  width: 100px;
  height: 80px;

  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}


</style>

<div class="modal-header">
	<h1 class="modal-title fs-5 text-center" id="staticBackdropLabel">
		<b>공사 보고 작성</b>
	</h1>
	<button type="button" class="btn-close" data-bs-dismiss="modal"
		aria-label="Close"></button>
</div>
<div class="modal-body mx-3 my-3">
	<form>
		<ul class="list-unstyled pl-3 mb-0">
			<li class="mb-2 row form-group"><div class="col-4">
					<strong class="text-black">제목</strong>
				</div>
				<div class="col">
					<input type="text" class="form-control">
				</div></li>
				<li class="mb-2 row form-group"><div class="col-4">
					<strong class="text-black">시공분야</strong>
				</div>
				<div class="col">
					<input type="text" class="form-control">
				</div></li>
				<li class="mb-2 row form-group"><div class="col-4">
					<strong class="text-black">공사 보고 유형</strong>
				</div>
				<div class="col">
					<input type="text" class="form-control">
				</div></li>
				<li class="mb-2 row form-group"><div class="col-4">
					<strong class="text-black">공사 보고 일시</strong>
				</div>
				<div class="col">
					<input type="text" class="form-control">
				</div></li>
				
				<li>
				<div class="form-floating" style="margin-top: 30px; margin-bottom: 30px">
								<textarea class="form-control" placeholder="Leave a comment here"  style="height: 100px" id="floatingTextarea"></textarea>
								<label for="floatingTextarea"><b>상세 내용</b></label>
							</div></li>
				<li>			
				<p class="uploadTitle mt-5">첨부 이미지 업로드(최대 5장)</p>
								<div class="uploadDiv">
									<label for="multiFile">파일찾기</label> 
									<input type="file"
										multiple="multiple" name="uploadFile" id="multiFile"
										onChange="fileList()" onClick="fileUploadClick()">
								</div>
								<div class="uploadResult bg-light">
									<div class="row">
										
									</div>
								</div></li>
		</ul>
	</form>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
	<button type="button" class="btn btn-primary">등록</button>
</div>

<script>
var uploadFiles = '';

function fileUploadClick() {   

	$('input[name="uploadFile"]').val('');
	$('.uploadResult .row div').remove();
};

function fileList(){
	
	console.log(uploadFiles);
	
	if(uploadFiles != '' ){
	$.ajax({
		url: '/rptFileDelete',
		type : 'post',
		contentType : 'application/json',
		data : JSON.stringify(uploadFiles),
		async : false
		
	})
	}
	
	
	
	//console.log("file");
	
	var formData = new FormData();
	
	var inputFile = $("input[name='uploadFile']");
	
	var files = inputFile[0].files;
	
	
	// formData에 데이터 넣기
	for(var i = 0; i < files.length; i++){
	
		formData.append("uploadFile", files[i]);
		
	}
	
		
	// Ajax
	$.ajax({
		url: '/rptFileInsert',
		processData : false,
		contentType : false,
		data : formData,
		type :'Post',
		dataType:'JSON'
		
		,success : function(result){
			//console.log(result);
			showUpFile(result);
			uploadFiles = result;

		}
	})		
	
			//console.log(files);
			//location.reload();
	
};


function showUpFile(uploadResultArr){
	
	console.log(uploadResultArr);
	
	if(!uploadResultArr || uploadResultArr.length == 0) return;
	
	var uploadUL = $('.uploadResult .row');
	
	var str = "";
	
	
	
	$(uploadResultArr).each(function(i, obj){
		
		var savePath = obj.savePath.replaceAll("\\", "/")
	
		var fileCallPath = encodeURIComponent(savePath+"/s_"+obj.saveName+"_"+obj.originalFileName + "." + obj.ext);
		
		str += `<div class="col-4 col-lg-4 item pl-4 my-3">`;
		
		var originPath = fileCallPath;
		
		originPath = originPath.replace(new RegExp(/\\/g), "/");
		
		str += `<img src='/display?fileName=${originPath}' class="img-fluid">`;
		str += `</div>`;

		/*
		str += `<li><a href=\"javascript:showImage(\'"+originPath+"\')\">
			<img src='/display?fileName="+ fileCallPath+ "'></a></li>`;*/
		
	});
	
	uploadUL.append(str);
}

function showImage(fileCallPath){
	alert(fileCallPath);
}

</script>

</html>