<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/default_layout}"
	layout:fragment="Content">
<head>
<meta charset="UTF-8">

<!-- 공통 스타일 -->
<link rel="stylesheet" href="/css/doc/doc_common.css">

<title>결제 작성</title>
</head>
<body>
		<div class="container">
			<div class="row mb-5 mt-5">
				<div class="col-lg-8">
					<form class="p-4 p-md-5 border rounded" name="payment">
						<input type="hidden" name="price" th:value="${con.cttPrice}">
						<input type="hidden" name="contractNo"
							th:value="${con.contractNo}"> <input type="hidden"
							name="virtualAccount">
						<input type="hidden" name="requester"
							th:value="${con.requesterInfo}">

						<div class="row form-group">
							<h3 class="text-black mb-3 border-bottom pb-2">
								<b>결제 상세</b>
							</h3>

							<p class="hr-sect px-3 fs-6">
								<b>결제자 정보</b>
							</p>

							<div class="row form-group">
								<label class="col-2 col-form-label"><b>성명</b></label>
								<div class="col-3">
									<input type="text" readonly class="form-control-plaintext"
										th:value="${requester.usersName}">
								</div>
								<label class="col-2 col-form-label"><b>전화번호</b></label>
								<div class="col">
									<input type="text" readonly class="form-control-plaintext"
										id="requester_phone">
								</div>
							</div>
							<div class="row form-group">
								<label class="col-2 col-form-label"><b>계좌번호</b></label>
								<div class="col">
									<input type="text" readonly class="form-control-plaintext"
									 th:value="${'[' + con.requesterBankcode + '] ' + con.requesterAccount}">
								</div>
							</div>

							<p class="hr-sect px-3 fs-6">
								<b>계약서 정보</b>
							</p>
							<div class="row form-group">
								<label class="col-2 col-form-label"><b>공사명</b></label>
								<div class="col">
									<input type="text" readonly class="form-control-plaintext"
										th:value="${con.cttName}">
								</div>
							</div>


							<div class="row form-group">
								<label class="col-2 col-form-label"><b>공사주소</b></label>
								<div class="col">
									<input type="text" readonly class="form-control-plaintext"
										th:value="${'(' + reqInfo.postcode + ') '
										+reqInfo.address + ' ' + reqInfo.detailAddress}">
								</div>
							</div>


							<div class="row form-group">
								<label class="col-3 col-form-label"><b>공사시작날짜</b></label>
								<div class="col-3">
									<input type="text" readonly class="form-control-plaintext"
										th:value="${#dates.format(con.cttStartDt,
										'yyyy-MM-dd')}">
								</div>
								<label class="col-3 col-form-label"><b>공사마감날짜</b></label>
								<div class="col-3">
									<input type="text" readonly class="form-control-plaintext"
										th:value="${#dates.format(con.cttEndDt,
										'yyyy-MM-dd')}">
								</div>
							</div>

							<p class="hr-sect px-3 fs-6">
								<b>시공자 정보</b>
							</p>

							<div class="row form-group">
								<label class="col-2 col-form-label"><b>성명</b></label>
								<div class="col-3">
									<input type="text" readonly class="form-control-plaintext"
										th:value="${worker.usersName}">
								</div>
								<label class="col-2 col-form-label"><b>전화번호</b></label>
								<div class="col-3">
									<input type="text" readonly class="form-control-plaintext"
										id="worker_phone">
								</div>
							</div>
							<div class="row form-group">
								<label class="col-2 col-form-label"><b>[작업장] 주소</b></label>
								<div class="col">
									<input type="text" readonly class="form-control-plaintext"
										th:value="${'(' + ppsInfo.workerPostcode + ') '
										+ppsInfo.workerAddress}">
								</div>
							</div>
							<div class="row form-group">
								<label class="col-3 col-form-label"><b>[작업장] 상세 주소</b></label>
								<div class="col">
									<input type="text" readonly class="form-control-plaintext"
										th:value="${ppsInfo.workerDetailAddress}">
								</div>
							</div>


							<p class="hr-sect px-3 fs-6">
								<b>대금 지급 시기</b>
							</p>
						</div>
						<div class="p-4 mb-3 bg-white border p-4 rounded">
							<table class="table table-hover">
								<thead>
									<tr class="text-center">
										<th scope="col" width="60px">횟수</th>
										<th scope="col" width="150px">금액</th>
										<th scope="col" width="150px">일시</th>
										<th scope="col">내역</th>
									</tr>
								</thead>
								<tbody class="content">
									<th:block th:each=" list : ${con.dList}">
										<tr class="text-center">
											<td th:text="${list.round}" />
											<td
												th:text="${#numbers.formatInteger(list.price,1,'COMMA')} + 원" />
											<td
												th:text="${#dates.format(list.paymentDt,
											'yyyy-MM-dd')}" />
											<td th:text="${list.history}" />
										</tr>
									</th:block>
								</tbody>
							</table>
						</div>
					</form>
				</div>
				<div class="col-lg-4 ml-auto h-100 jm-sticky-top">
					<div class="block__87154 mb-0">
						<blockquote>
							<h5 class="text-black mb-5 border-bottom pb-2">
								<b>결제 정보</b>
							</h5>
							<table class="table table-hover">
								<thead>
									<tr class="text-center">
										<th>품목</th>
										<th>금액</th>
									</tr>
								</thead>
								<tbody class="pay_list">
									<th:block th:each=" list : ${ppsInfo.list}">
										<tr class="text-center">
											<td th:text="${list.product}" />
											<td
												th:text="${#numbers.formatInteger(list.unitprice,1,'COMMA')} + 원" />
										</tr>
									</th:block>
								</tbody>
							</table>
						</blockquote>

						<h5 class="text-black mt-1">
							<b> 총 결제금액 :</b>
						</h5>
						<h5 class="text-black text-right">
							<b>[[${#numbers.formatInteger(con.cttPrice,1,'COMMA')}]] 원</b>
						</h5>

						<div class="text-center mt-4">
							<button type="button"
								class="btn btn-block btn btn-outline-info btn-md fs-5" ><b>결제하기</b></button>
						</div>
					</div>
				</div>
			</div>
		</div>
	

	<script th:inline="javascript">
	var workerPhone = /*[[${worker.usersPhone}]]*/"";
	var requesterPhone = /*[[${requester.usersPhone}]]*/"";
	
	$(function() {
		// 전화번호 "-"
		workerPhone = userPhone(workerPhone);
		$('#worker_phone').val(workerPhone);
		requesterPhone = userPhone(requesterPhone);
		$('#requester_phone').val(requesterPhone);
	})
	
	// 전화번호
	function userPhone(phone) {
		phone = phone.replace(/^(\d{2,3})(\d{3,4})(\d{4})$/, `$1-$2-$3`);
		return phone;
	}
	
	// 가상 계좌 받기
	$('button[type="button"]').on('click', function(e) {
		
		str = `<span class="spinner-border spinner-border" aria-hidden="true"></span>
				<span role="status"><b>잠시 기다려 주세요...</b></span>`
		$('button[type="button"]').html(str);
		$('button[type="button"]').attr('disabled', 'disabled');
		
		
		$.ajax({
			url: "/api/getVirtualAc",
			type: "GET",
			success : function(result){	
				
				$('input[name="virtualAccount"]').val(result);
				Payment(result);
			},
			error : function(){
				Swal.fire({
					icon: "error",
					title: "통신실패",
					text: "다시 확인해 주세요"
				});
				
				$('button[type="button"]').html(`<b>결제하기</b>`);
				$('button[type="button"]').removeAttr('disabled');
			}
		})
		
	})
	
	function Payment(virtualAccount){	
		
		Swal.fire({
			title: '이대로 결제하시겠습니까?',
			text: '입금 계좌번호 : ' + virtualAccount,
			icon: 'warning',
			
			allowOutsideClick: false,
			showCancelButton: true, // cancel버튼 보이기. 기본은 원래 없음
			confirmButtonColor: '#3085d6', // confrim 버튼 색깔 지정
			cancelButtonColor: '#d33', // cancel 버튼 색깔 지정
			confirmButtonText:'결제', // confirm 버튼 텍스트 지정
			cancelButtonText: '취소', // cancel 버튼 텍스트 지정

		}).then(result => {
			// 만약 Promise리턴을 받으면,
			if (result.isConfirmed) { // 만약 모달창에서 confirm 버튼을 눌렀다면
				var formData = new FormData(document.payment);
			
				/*for (const pair of formData.entries()) {
				  console.log(pair[0], pair[1]);
				}*/
				
				$.ajax({
					url: '/payment',
					processData : false,
					contentType : false,
					data : formData,
					type :'Post',
					async : false,
					success : function(result){	
						
						$('button[type="button"]').html(`<b>결제완료</b>`);
						$('button[type="button"]').removeAttr('disabled');
						
						Swal.fire({
							icon: "success",
							title: "결제 완료되었습니다",
							allowOutsideClick: false
						}).then(e => {
							// 만약 Promise리턴을 받으면,
							if (e.isConfirmed) { // 만약 모달창에서 confirm 버튼을 눌렀다면
								location.href='/payInfo?payNo='+result;
							}
						});
					}
				})
			}else{
				$('button[type="button"]').html(`<b>결제하기</b>`);
				$('button[type="button"]').removeAttr('disabled');
			} 
		});
	}
	</script>
</body>
</html>