.hr-sect {
	display: flex;
	flex-basis: 100%;
	align-items: center;
	color: gray;
	font-size: 20px;
	margin: 15px 0px 30px 0px;
	padding: 0;
}

.hr-sect::before, .hr-sect::after {
	content: "";
	flex-grow: 1;
	background: rgba(0, 0, 0, 0.35);
	height: 1px;
	font-size: 0px;
	line-height: 0px;
	margin: 0px 16px;
}

.uploadDiv label {
	display: inline-block;
	padding: 5px 20px 10px 20px;
	color: #fff;
	vertical-align: middle;
	background-color: #999999;
	cursor: pointer;
	height: 40px;
}

.uploadDiv input[type="file"] {
	position: absolute;
	width: 0;
	height: 0;
	padding: 0;
	overflow: hidden;
	border: 0;
}

.con_ul li div:nth-child(1) {
	margin-top: 6px;
}

.con_ul li div:nth-child(2) {
	height: 38px;
}

canvas {
	border: 1px solid black;
	width: 260px;
	height: 100px;
}

.modal-backdrop {
	/* bug fix - no overlay */
	display: none;
}

.unity{
	word-break : keep-all;
	overflow-wrap : break-word;
}

.pps_title {
	position: relative;
}

.pps_sendBtn {
	position: absolute;
	left: 180px;
	top: 5px;
	z-Index: 1;
}

.input_warning{
	position:absolute;
	display:flex;
	font-size: 14px;
	color: red;

}