<!DOCTYPE html>
<html
  xmlns:th="https://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{common/layouts/default_layout}"
  layout:fragment="Content"
>
  <head>
    <meta charset="UTF-8" />
    
    <!-- 공사 보고  -->
    <link rel="stylesheet" href="/css/rpt/reportModal.css">
    
    <style>
      form input:read-only,
      form select:read-only {
        border: none;
        background-color: rgba(255, 255, 255, 255) !important;
      }

      .slide-container {
        width: 100%;
      }

      .swiper-navBtn {
        color: #89ba16;
        transition: color 0.3s ease;
      }
      .swiper-navBtn:hover {
        color: #7ba714;
      }
      .swiper-navBtn::before,
      .swiper-navBtn::after {
        font-size: 38px;
      }

      .swiper-pagination-bullet {
        background-color: #89ba16;
        opacity: 1;
      }
      .swiper-pagination-bullet-active {
        background-color: #7ba714;
      }

      @media screen and (max-width: 768px) {
        .slide-content {
          margin: 0 10px;
        }
        .swiper-navBtn {
          display: none;
        }
      }
      
      
      .input_warning{
		position:absolute;
		display:flex;
		font-size: 14px;
		color: red;
	  }
	  .active{
	  	background-color : #7ba714;
	  }
    </style>
    <title>의뢰 상세페이지</title>
  </head>
  <body>
    <!-- 의뢰상세 -->
    <div class="row">
      <form name="infoForm" th:object="${request}" class="row">
        <div class="d-flex mb-3">
          <h3 class="me-auto p-2">의뢰 상세 정보</h3>
		  <th:block sec:authorize="isAuthenticated()" th:if="${#authentication.principal.userNo == request.requester}">
          <div class="p-2">
            <button type="button" class="btn btn-secondary upBtn update">
              수정
            </button>
          </div>
          <div class="p-2">
            <button
              type="button"
              class="btn btn-secondary delBtn"
              th:onClick="'deleteRequest(' + ${request.requestNo} + ')'">
			  삭제
            </button>
          </div>
		  </th:block>
		  <th:block sec:authorize="hasRole('ROLE_WORKER')" >
		  	<button type="button" class="btn btn-primary" th:onClick="|location.href='@{/ppsInsert(requestNo=${request.requestNo})}'|">견적서 쓰기</button>
		  </th:block>
        </div>
        <th:block  th:if="${request.fileId != 0}"  >
	        <div class="col-lg-6 col-md-12">
	          <div class="slide-container swiper">
	            <div class="slide-content">
	              <div class="card-wrapper swiper-wrapper">
	                <th:block th:each="img :${request.fileVO}">
	                  <div class="card swiper-slide">
	                    <img
	                      class="img"
	                      th:src="|@{${'/display?fileName=' + img.savePath.replaceAll('\\','/') +'/'+ img.saveName + '_' + img.originalFileName + '.' + img.ext}}|"
	                    />
	                  </div>
	                </th:block>
	              </div>
	              <div class="swiper-button-next swiper-navBtn"></div>
	              <div class="swiper-button-prev swiper-navBtn"></div>
	              <div class="swiper-pagination"></div>
	            </div>
	          </div>
	        </div>
        </th:block>
        <th:block>
	        <div class="col-lg-6 col-md-12" th:unless="${request.fileId != 0}">
	        	<img class="img" th:src="@{/images/req/default_img.png}"/>
	        </div>
        </th:block>
        <div class="col-lg-6 col-md-12">
          <table id="info" class="table">
            <tr style="display: none">
              <th>글 번호</th>
              <td>
                <input
                  class="form-control"
                  type="hidden"
                  th:value="${request.requestNo}"
                  name="requestNo"
                />
              </td>
            </tr>
			<tr>
              <th>제목</th>
              <td>[[${request.title}]]</td>
            </tr>
            <tr>
              <th>의뢰자명</th>
              <td>[[${request.usersName}]]</td>
            </tr>
            <tr>
              <th>시공분야</th>
              <td>
                <select class="form-select" th:field="*{categoryCode}" disabled>
                  <option
                    th:each="category :${categoryCode}"
                    th:value="${category.codeNo}"
                    th:text="${category.codeName}"
                  ></option>
                </select>
              </td>
            </tr>
            <tr>
              <th>희망 공사일정</th>
              <td class="align-items-center">
                <input
                  class="form-control col-5"
                  type="text"
                  readonly
                  name="hopeCttStartDt"
                  placeholder="yyyy-MM-dd"
                  th:value="${#dates.format(request.hopeCttStartDt, 'yyyy-MM-dd')}"
                />
                <span>~</span>
                <input
                  class="form-control col-5"
                  type="text"
                  name="hopeCttEndDt"
                  placeholder="yyyy-MM-dd"
                  th:value="${#dates.format(request.hopeCttEndDt, 'yyyy-MM-dd')}"
                  readonly
                />
              </td>
            </tr>
            <tr>
              <th>희망 시공예산</th>
              <td>
                <input
                  class="form-control"
                  type="number" 
                  min="0"
                  name="hopeCttBudget"
                  th:value="${request.hopeCttBudget}"
                  readonly
                />
              </td>
            </tr>
            <tr>
              <th>우편번호</th>
              <td>
                <input
                  class="form-control"
                  name="postcode"
                  type="text"
                  id="input_postcode"
                  th:value="${request.postcode}"
                  readonly
                />
                <button
                  type="button"
                  style="display: none"
                  class="btn btn-secondary postcode"
                  onclick="input_execDaumPostcode()"
                >
                  우편번호 찾기
                </button>
              </td>
            </tr>
            <tr>
              <th>주소</th>
              <td>
                <input
                  name="address"
                  class="input form-control"
                  type="text"
                  id="input_addr"
                  th:value="${request.address}"
                  readonly
                />
              </td>
            </tr>
            <tr>
              <th>상세주소</th>
              <td>
                <input
                  name="detailAddress"
                  class="input form-control"
                  type="text"
                  id="input_detailAddr"
                  th:value="${request.detailAddress}"
                  readonly
                />
              </td>
            </tr>
            <tr>
              <th>시공 공간</th>
              <td>
                <select class="form-select" th:field="*{cttPlace}" disabled>
                  <option
                    th:each="category :${cttPlace}"
                    th:value="${category.codeNo}"
                    th:text="${category.codeName}"
                  ></option>
                </select>
              </td>
            </tr>
            <tr>
              <th>시공 공간상황</th>
              <td>
                <select
                  class="form-select"
                  th:field="*{cttPlaceSituation}"
                  disabled
                >
                  <option
                    th:each="category :${cttPlaceSituation}"
                    th:value="${category.codeNo}"
                    th:text="${category.codeName}"
                  ></option>
                </select>
              </td>
            </tr>
            <tr>
              <th>시공 공간면적</th>
              <td>
                <input
                  class="form-control"
                  type="number"
                  min="0"
                  name="cttPlaceArea"
                  th:value="|${request.cttPlaceArea}|"
                  readonly
                />평
              </td>
            </tr>
            <tr>
              <th>상세내용</th>
              <td>
                <textarea
                  class="input form-control"
                  name="content"
                  th:text="${request.content}"
                  maxlength="2000"
                  placeholder="최대 2000자까지 입력됩니다. 위에서 기타를 선택하셨다면 이곳에 상세하게 적어주세요! "
                  style="height:200px;"
                  readonly
                ></textarea>
              </td>
            </tr>
          </table>
        </div>
      </form>
    </div>
    <!-- 의뢰상세 -->
    
    
    <!-- 견적서 -->
    <div th:if="${proposalList == null}">
      <p>제시받은 견적서가 존재하지 않습니다.</p>
    </div>
    <div th:unless="${proposalList == null}" class="row gap-2">
      <th:block  sec:authorize="isAuthenticated()"
    	 th:if="${#authentication.principal.userVO.usersRole == 'ROLE_WORKER' or #authentication.principal.userNo == request.requester}">
      <div class="d-flex justify-content-between">
        <div>
          <h4>견적서</h4>
        </div>
        <div>
          <select class="form-select">
            <option value="price">총금액 낮은 순</option>
            <option value="period">공사기간 짧은 순</option>
          </select>
        </div>
      </div>
      <table class="table table-striped">
        <tr>
          <th>담당자명</th>
          <th colspan="2">공사기간</th>
          <th>공사총금액</th>
          <th>전화번호</th>
          <th colspan="2">비고</th>
        </tr>
        <th:block th:each="proposal : ${proposalList}">
          <tr
            th:class="${proposal.proposalState == 'A02'}? 'active' : ''"
            data-bs-toggle="collapse"
            th:data-bs-target="'#collapse' + ${proposal.proposalNo}"
            aria-expanded="false"
            aria-controls="collapseExample"
          >
            <td style="display: none" th:text="${proposal.requestNo}" />
            <td th:text="${proposal.usersName}" />
            <td
              colspan="2"
              th:text="|${#dates.format(proposal.cttStartDt, 'yyyy-MM-dd')} ~ ${#dates.format(proposal.cttEndDt, 'yyyy-MM-dd')}|"
            />
            <td id="totalPrice"></td>
            <td th:text="${proposal.usersPhone}" />
            <td th:text="${proposal.comments}" />
            <td>
              <i class="fa-solid fa-caret-down fa-xl down"></i>
            </td>
          </tr>
          <tr>
            <td colspan="7" class="pt-0 pb-0">
              <div class="collapse" th:id="'collapse' + ${proposal.proposalNo}">
                <button
                  class="btn btn-sm mt-2 float-end"
                  th:onclick="|location.href='@{/ppsInfo(proposalNo=${proposal.proposalNo})}'|"
                >
                  상세보기
                </button>
                <table id="estimateTable" class="table mb-2 ">
                  <tr>
                    <th>품명</th>
                    <th>단위</th>
                    <th>수량</th>
                    <th>단가</th>
                    <th>금액</th>
                    <th>비고</th>
                  </tr>
                  <th:block th:each="ppd : ${proposal.list}">
                    <tr>
                      <td th:text="${ppd.product}"></td>
                      <td th:text="${ppd.unit}"></td>
                      <td th:text="${ppd.qty}" class="qty"></td>
                      <td th:text="${ppd.unitprice}" class="unitprice"></td>
                      <td th:text="${ppd.qty} * ${ppd.unitprice}"></td>
                      <td th:text="${ppd.comments}"></td>
                    </tr>
                  </th:block>
                </table>
              </div>
            </td>
          </tr>
        </th:block>
      </table>
    </div>
    </th:block>
    <!-- 견적서 -->
    <!-- 계약서 -->
    <div th:if="${contract == null}">
      <p>체결 된 계약건이 아직 없습니다.</p>
    </div>
    <th:block th:if="${contract != null}">
    <div sec:authorize="isAuthenticated()" 
    	 th:if="${#authentication.principal.userNo == request.requester or #authentication.principal.userNo == contract.workerInfo}">
    <div class="row">
      <div class="row" th:unless="${contract == null}">
        <table class="table col">
          <tr>
            <td><h4>계약서</h4></td>
            <td></td>
            <td><button class="btnn" th:onclick="|location.href='@{/conInfo(contractNo=${contract.contractNo})}'|">
				상세보기
			</button></td>
          </tr>
          <tr>
            <td style="display: hidden"></td>
            <th>시공자 성명</th>
            <td>[[${contract.usersName}]]</td>
            <th>결제상태</th>
            <td></td>
          </tr>
          <tr>
            <th colspan="2">공사기간</th>
            <td
              colspan="2"
              th:text="|${#dates.format(contract.cttStartDt, 'yyyy-MM-dd')} ~ ${#dates.format(contract.cttEndDt, 'yyyy-MM-dd')}|"
            />
          </tr>
          <tr>
            <th colspan="2">공사금액</th>
            <td colspan="2">[[${contract.cttPrice}]]</td>
          </tr>
          <tr>
            <th colspan="2">공사상태</th>
            <td colspan="2">[[${contract.contractState}]]</td>
          </tr>
        </table>
        <table class="table col">
          <tr>
            <th>전화번호</th>
            <td>[[${contract.usersPhone}]]</td>
          </tr>
          <tr>
            <th>주소</th>
            <td>[[${contract.workerAddress}]]</td>
          </tr>
          <tr>
            <th>하자보수기간</th>
            <td><input type="text" readonly /></td>
          </tr>
        </table>
      </div>
      <div class="row">
        <div>
          <h4>팀</h4>
        </div>
        <table class="table">
          <thead>
            <tr>
              <th>담당자명</th>
              <th>소재지</th>
              <th>공사분야</th>
              <th>전화번호</th>
              <th>구분</th>
            </tr>
          </thead>
          <tbody>
            <th:block th:each="mem : ${members}">
              <tr>
                <td>[[${mem.usersName}]]</td>
                <td></td>
                <td>[[${mem.workCodeNm}]]</td>
                <td>[[${mem.usersPhone}]]</td>
                <td>[[${mem.memberDivision} == 'B' ? '팀장' : '팀원']]</td>
              </tr>
            </th:block>
          </tbody>
        </table>
      </div>
    </div>
   <th:block th:if="${contract != null}">
    <div class="row">
      <div class="d-flex justify-content-between mb-2">
        <div>
          <h4>공사보고</h4>
        </div>
        <div sec:authorize="isAuthenticated()" 
    	 	th:if="${#authentication.principal.userNo == contract.workerInfo}">
          <button type="button" class="btn btn-secondary" th:onClick="'window.reportInsertForm(' + ${contract.contractNo} + ')'">
            공사 보고 작성
          </button>
        </div>
      </div>
      <table class="table mb-2">
        <tr>
          <th>번호</th>
          <th>제목</th>
          <th>구분</th>
          <th>작성일시</th>
          <th>승인상태</th>
        </tr>
        <th:block th:each="cttReport : ${cttReports}">
          <tr th:onClick="'window.reportInfoForm(' + ${cttReport.cttReportNo} + ')'">
            <td>[[${cttReport.cttReportNo}]]</td>
            <td>[[${cttReport.title}]]</td>
            <td>[[${cttReport.cttDivision}]]</td>
            <td>[[${#dates.format(cttReport.cttReportDt, 'yyyy/MM/dd')}]]</td>
            <td
              th:text="${cttReport.accessState} == 'Y' ? '승인' : '미승인'"
            ></td>
          </tr>
        </th:block>
      </table>
    </div>
    </th:block>
    </div>
    </th:block>
    <div style="text-align:right">
      <button
        type="button"
        class="btn btn-secondary delBtn"
        onclick="history.back()"
      >
        뒤로가기
      </button>
    </div>
    </th:block>
    
    
    <!-- 공사 보고 Modal -->
	<div class="z-3 modal fade" id="reportModal" data-bs-backdrop="static"
		tabindex="-1" aria-hidden="true">
		<div
			class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<scr th:insert="rpt/report :: reportFragment"></scr>
				<!-- 공사 보고 원본 이미지 -->
   				 <div class="bigPictureWrapper">
					<div class="bigPicture img-thumbnail" ></div>
				</div>
			</div>
		</div>
	</div>

	<div class="z-3 modal fade" id="reportInfoModal" aria-hidden="true" tabindex="-1" data-bs-backdrop="static">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      	<scr th:insert="rpt/reportInfo :: reportInfoFragment"></scr>
      	<!-- 공사 보고 원본 이미지 -->
    	<div class="bigPictureWrapper">
			<div class="bigPicture img-thumbnail" ></div>
		</div>
    </div>
  </div>
</div>
   
    
    <!-- 계약서 -->
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script src="/js/doc/postcode.js"></script>
    <script src="/js/req/requestUpdate.js"></script>
    
    <!-- 공사 보고  -->
    <script type="text/javascript" th:src="@{/js/rpt/report_modal.js}"></script>
     
    <script th:inline="javascript">
      var swiper = new Swiper(".slide-content", {
        slidesPerView: 1,
        spaceBetween: 25,
        loop: false,
        centerSlide: "true",
        fade: "true",
        grabCursor: "true",
        pagination: {
          el: ".swiper-pagination",
          clickable: true,
          dynamicBullets: true,
        },
        navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev",
        },

        breakpoints: {
          0: {
            slidesPerView: 1,
          },
        },
      });
      
      // 공사 보고에 넘겨야 하는 변수
      if(/*[[${userNo}]]*/"" != null){
      var user = /*[[${userNo}]]*/"";
      }

      var rno = /*[[${request.requester}]]*/"";
      if(/*[[${workerNo}]]*/"" != null){
      var workerNo = /*[[${workerNo}]]*/"";
      }
      
      if(/*[[${ request.fileVO}]]*/"" != null){
	      var uploadImg = /*[[${ request.fileVO}]]*/"";
	      console.log(uploadImg);
      }else{
    	  var uploadImg = null;
      }
	  
	  $(document).ready(function () {
	          var total = 0;
	          /* 각 행의 qty와 unitprice를 가져와서 총 금액을 계산합니다 */
	          $("#estimateTable tbody tr").each(function () {
	              var qty = parseFloat($(this).find(".qty").text()) || 0;
	              var unitprice = parseFloat($(this).find(".unitprice").text()) || 0;
	              var totalprice = qty * unitprice;
	              total += totalprice;
	              /* 계산된 총 금액을 각 행의 totalprice 엘리먼트에 출력합니다 */
	              $(this).find(".totalprice").text(totalprice.toFixed(2).replace(/\.?0+$/, '').replace(/\B(?=(\d{3})+(?!\d))/g, ','));
	          });
	          /* 총 금액을 화면에 출력합니다 */
	          $("#totalPrice").text(total.toFixed(2).replace(/\.?0+$/, '').replace(/\B(?=(\d{3})+(?!\d))/g, ','));
	      });
    </script>
    <script src="/js/req/img.js"></script>
  </body>
</html>
