<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/default_layout}"
      layout:fragment="Content">

<head>

<script src="https://kit.fontawesome.com/fdebdddca5.js" crossorigin="anonymous"></script>
<!-- jQuery datePicker -->
<link rel="stylesheet" href="https://code.jquery.com/ui/1.13.3/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.13.3/jquery-ui.js"></script>   
<meta charset="UTF-8">
<title>의뢰 신청</title>
<style>
.uploadResult img {
	display: block;
	width: 100px;
	height: 80px;
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}
</style>
</head>
<body>
<h3>의뢰 신청</h3>
<form name="insertRequest" th:action="@{/request/insert}" th:object="${requestVO}" method="post">
	<table class="table">
		<tr>
			<td><input type="hidden" name="requestNo"></td>
			<td><input type="hidden" name="requestState"></td>
			<td><input type="hidden" name="requester" th:value="${#authentication.principal.userNo}"></td>
		</tr>
		<tr>
			<th>제목</th>
			<td colspan="3"><input type="text" name="title"/>
		</tr>
		<tr>
			<th>시공분야</th>
			<td colspan="3">
				<select th:field="*{categoryCode}" >
                    <option th:each="category :${categoryCode}" th:value="${category.codeNo}" th:text="${category.codeName}"></option>
                </select>
			</td>
		</tr>
		<tr>
			<th>희망시공일정</th>
			<td><input id="startDt" type="text" name="hopeCttStartDt" placeholder="날짜를 선택하세요" readonly></td>
			<td>~</td>
			<td><input id="endDt" type="text" name="hopeCttEndDt" placeholder="날짜를 선택하세요" readonly></td>
		</tr>
		<tr>
			<th>희망시공예산</th>
			<td colspan="3"><input type="number" min="0" name="hopeCttBudget"/>
		</tr>
		<tr>
			<th>시공공간</th>
			<td colspan="3">
				<select th:field="*{cttPlace}" >
                    <option th:each="category :${cttPlace}" th:value="${category.codeNo}" th:text="${category.codeName}"></option>
                </select>		
			</td>
		</tr>
		<tr>
			<th>시공공간상황</th>
			<td colspan="3">
				<select th:field="*{cttPlaceSituation}" >
                    <option th:each="category :${cttPlaceSituation}" th:value="${category.codeNo}" th:text="${category.codeName}"></option>
                </select>
			</td>
		</tr>
		<tr>
			<th>시공공간면적</th>
			<td colspan="3"><input type="number" min="0" name="cttPlaceArea" style="width:50px;">평</td>
		</tr>		
		<tr>
			<th>의뢰 상세 내용</th>
			<td colspan="3"><textarea name="content" maxlength="2000"
                  placeholder="최대 2000자까지 입력됩니다. 위에서 기타를 선택하셨다면 이곳에 상세하게 적어주세요! " style="width:500px; height:200px;"></textarea></td>
		</tr>
		<tr>
           <th>우편번호</th>
           <td><input type="text" name="postcode" id="input_postcode" ></td>
           <td><button type="button" class="btn btn-secondary postcode" onclick="input_execDaumPostcode()">우편번호 찾기</button></td>
        </tr>
        <tr>
           <th>주소</th>
           <td colspan="3"><input name="address" style="width:300px;" class="input" type="text" id="input_addr" ></td>
        </tr>
        <tr>
           <th>상세주소</th>    
           <td colspan="3"><input name="detailAddress" style="width:300px;" class="input" type="text" id="input_detailAddr"></td>
        </tr>    
			
	</table>
		<p class="uploadTitle mt-3">첨부 이미지 업로드(최대 5장)</p>
		<div class="uploadDiv">
			<label for="multiFile">파일찾기</label> <input type="file"
				multiple="multiple" name="uploadFile" id="multiFile"
				onChange="fileList()" onClick="fileUploadClick()" >
		</div>
		<div class="uploadResult bg-light mt-3">
		<div class="row"></div>
	</div>
		<button type="button" onClick="insert()"  class="btn btn-primary insertBtn">등록</button>

</form>
<script src="/js/req/img.js"></script>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script src="/js/doc/postcode.js"></script>
<script>
// 시작날짜, 마감날짜 datepicker
$('#startDt').datepicker({
	 dateFormat: 'yy-mm-dd',
	 // 0 : 오늘 날짜
	  minDate: 0
	})
	.on( "change", function() {
		$( "#endDt" ).datepicker( "option", "minDate", getDate( this ) )
	});
$( "#endDt" ).datepicker({
	dateFormat: 'yy-mm-dd',
	  	minDate: 0
    })
	.on( "change", function() {
	$('#startDt').datepicker( "option", "maxDate", getDate( this ) );
});
function getDate( element ) {

      var date;
      try {
        date = element.value
      } catch( error ) {
        date = null;
      }
 
      return date;
    }
</script>
</body>
</html>