<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/default_layout}"
      layout:fragment="Content">

<head>
<style>
    input, textarea {
        background-color: #eee;
        border: none;
    }
    .input {
        width: 400px;
    }
    .img {
        width: 130px;
        height: 130px;
        margin: 5px 5px 0 5px;
    }
    .col {
        margin: 10px 20px 0 20px;
        background-color: #eee;
    }
    .table {
        margin: 20px;
    }
    .table td{
        background-color: #eee;
    }
    .table th{
   		background-color: #eee;
    	width:150px;
    }
    h4 {
        margin: 10px;
    }
    h3 {
        margin-top: 20px;
    }
    .btnn {
        background: transparent;
        border: none;
        font-size: 15px;
        margin: 3px;
        width: 80px;
    }
</style>
<script src="https://kit.fontawesome.com/fdebdddca5.js" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<meta charset="UTF-8">
<title>의뢰 상세페이지</title>
</head>
<body>


<form name="infoForm" th:object="${request}">
    <div class="row">
        <div class="col-lg-6 col-md-12">
            <h3>의뢰 상세 정보</h3>
            
            <table id="info" class="table">
                <tr style="display:none">
                    <th>글 번호</th>
                    <td><input type="hidden" th:value="${request.requestNo}" name="requestNo"/></td>
                </tr>
                <tr>
                    <td><h4>의뢰 내용</h4></td>
                    <td><button type="button" class="btn btn-secondary upBtn update">수정</button></td>
                    <td><button type="button" class="btn btn-secondary delBtn" th:onclick="|location.href='@{/requestDelete(requestNo=${request.requestNo})}'|">삭제</button></td>
                </tr>
                <tr>
                    <th>의뢰자명</th>
                    <td colspan="2">[[${request.usersName}]]</td>
                </tr>    
                <tr>
                    <th>시공분야</th>
                    <td colspan="2">
                    <select th:field="*{categoryCode}" disabled>
                        <option th:each="category :${categoryCode}" th:value="${category.codeNo}" th:text="${category.codeName}"></option>
                    </select>
                    </td>
                </tr>
                <tr>
                    <th>희망 공사일정</th>
                    <td colspan="2"><input type="text" style="width:90px" readonly name="hopeCttStartDt" placeholder="yyyy-MM-dd" th:value="${#dates.format(request.hopeCttStartDt, 'yyyy-MM-dd')}" /> ~
                    <input type="text" name="hopeCttEndDt" placeholder="yyyy-MM-dd" th:value="${#dates.format(request.hopeCttEndDt, 'yyyy-MM-dd')}" readonly /></td>
                </tr>
                <tr>
                    <th>희망 시공예산</th>
                    <td colspan="2"><input type="text" name="hopeCttBudget" th:value="${request.hopeCttBudget}" readonly /></td>
                </tr>
                <tr>
                    <th>시공 공간</th>
                    <td colspan="2">
                    <select th:field="*{cttPlace}" disabled>
                        <option th:each="category :${cttPlace}" th:value="${category.codeNo}" th:text="${category.codeName}"></option>
                    </select>
                    </td>
                </tr>
                <tr>
                    <th>시공 공간상황</th>
                    <td colspan="2">
                    <select th:field="*{cttPlaceSituation}" disabled>
                        <option th:each="category :${cttPlaceSituation}" th:value="${category.codeNo}" th:text="${category.codeName}"></option>
                    </select>
                    </td>
                </tr>
                <tr>
                    <th>시공 공간면적</th>
                    <td colspan="2"><input type="text" style="text-align:right; width:50px;" name="cttPlaceArea" th:value="|${request.cttPlaceArea}|" readonly />평</td>
                </tr>
                <tr>
                    <th>상세내용</th>
                    <td colspan="2"> <textarea class="input" name="content" th:text="${request.content}" readonly></textarea> </td>
                </tr>
            </table>
        </div>
        <div class="col-lg-6 col-md-12">
            <h4>주소</h4>
            <table class="table">
	            <tr>
	                <th>우편번호</th>
	                <td><input name="postcode" type="text" id="input_postcode" th:value="${request.postcode}" readonly ></td>
	                <td><button type="button" style="display:none" class="btn btn-secondary postcode" onclick="input_execDaumPostcode()">우편번호 찾기</button></td>
	            </tr>
	            <tr>
	                <th>주소</th>
	                <td colspan="2"><input name="address" class="input" type="text" id="input_addr" th:value="${request.address}" readonly ></td>
	            </tr>
	            <tr>
	                <th>상세주소</th>    
	                <td colspan="2"><input name="detailAddress" class="input" type="text" id="input_detailAddr" th:value="${request.detailAddress}" readonly ></td>
	            </tr>    
            </table>
           	<h4>첨부파일</h4>
           		<img class="img" th:each="img :${request.fileVO}" th:src="@{'/images/req/' + ${img.saveName} + '.' + ${img.ext}}">
        </div>
    </div>
</form>
    <div>
        <table class="table">
            <tr>
                <td colspan="6"><h4>견적서</h4></td>
                <td>
                    <select style="float: right">
                        <option value="price">총금액 낮은 순</option>
                        <option value="period">공사기간 짧은 순</option>
                    </select>
                </td>
            </tr>
            <tr>
                <th>담당자명</th>
                <th colspan="2">공사기간</th>
                <th>공사총금액</th>
                <th>전화번호</th>
                <th>비고</th>
                <th/>
                
            </tr>
            <th:block th:each="proposal : ${proposalList}">
            <tr>
            	<td style="display:none" th:text="${proposal.requestNo}"/> 
            	<td th:text="${proposal.usersName}"/>
                <td colspan="2" th:text="|${#dates.format(proposal.cttStartDt, 'yyyy/MM/dd')} ~ ${#dates.format(proposal.cttEndDt, 'yyyy/MM/dd')}|"/>
                <td>ddd</td>
             	<td th:text="${proposal.usersPhone}"/>
                <td th:text="${proposal.comments}"/>
                <td><i class="fa-solid fa-caret-down fa-xl down"></i></td>
            </tr>
            <tr>
            <td colspan="7">
                <table class="table innerT" style="display:none">
                    <tr>
                        <th>품명</th>
                        <th>규격</th>
                        <th>수량</th>
                        <th>단가</th>
                        <th>금액</th>
                        <th>비고</th>
                        <th></th>
                        
                    </tr>
                    <tr>
                        <td>dd</td>
                        <td>ddd</td>
                        <td>ddd</td>
                        <td>ddd</td>
                        <td>dd</td>
                        <td>dd</td>
                        <td><button class="btnn">상세보기</button></td>
                    </tr>
                </table></td>
            </tr>
  			</th:block>
        </table>
    </div>
    <div>
        <div class="row">
            <table class="table col" >
                <tr>
                <td><h4>계약서</h4><td>
                <td><button class="btnn">상세보기</button></td>
                </tr>
                <tr>
                    <th>시공자 성명</th>
                    <td><input type="text" readonly /></td>
                    <th>결제상태</th>
                    <td><input type="text" readonly /></td>
                </tr>
                <tr>
                    <th>공사기간</th>
                    <td><input type="text" readonly /></td>
                </tr>
                <tr>
                    <th>공사금액</th>
                    <td><input type="text" readonly /></td>
                </tr>
                <tr>
                    <th>공사상태</th>
                    <td><input type="text" readonly /></td>
                </tr>
                </table>
                <table class="table col">
    
                    <tr>
                        <th>전화번호</th>
                        <td><input type="text" readonly /></td>
                    </tr>
                    <tr>
                        <th>주소</th>
                        <td><input type="text" readonly /></td>
                    </tr>
                    <tr>
                        <th>상세주소</th>
                        <td><input type="text" readonly /></td>
                    </tr>
                    <tr>
                        <th>하자보수기간</th>
                        <td><input type="text" readonly /></td>
                        <td><button class="btnn">신청하기</button></td>
                    </tr>
                </table>
        </div>
    </div>


<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script src="/js/doc/postcode.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/js/req/requestUpdate.js"></script>
</body>
</html>
