<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/default_layout}"
	layout:fragment="Content">
<head>
<meta charset="UTF-8">
<title>아이디/비밀번호 찾기</title>
</head>
<body>
	<ul class="nav nav-tabs" id="myTab" role="tablist">
	  <li class="nav-item" role="presentation">
	    <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">아이디 찾기</button>
	  </li>
	  <li class="nav-item" role="presentation">
	    <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">비밀번호 찾기</button>
	  </li>
	</ul>
	
	<div class="tab-content" id="myTabContent">
	  <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
		<h3>아이디찾기</h3>
		<div class="row form-group">
	      <div class="col-md-10 mb-3 mb-md-0">
		    <label class="text-black" for="usersEmail">이메일</label>
		    <div class="row">
			  <div class="col-6">
			    <input name="usersEmail" type="text" id="usersEmail"
				  class="form-control" placeholder="가입한 이메일을 입력해주세요">
			  </div>
		    <div class="col-4">
			  <button type="button" id="sendmail"
			  class="btn btn-primary float-end text-white ">인증번호 전송</button>
		    </div>
		  </div>
	    </div>
	  </div>
	</div>
	  <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
		<h3>비밀번호찾기</h3>
		<div class="row form-group">
		  <div class="col-md-10 mb-3 mb-md-0">
		    <label class="text-black" for="usersId">아이디</label> 
			<div class="row">
			  <div class="col-6">
			    <input name="usersId" type="text" id="usersId"
				  class="form-control" placeholder="아이디를 입력해주세요">
			  </div>
		    </div>
		  </div>
		</div>
		<div class="row form-group">
	      <div class="col-md-10 mb-3 mb-md-0">
		    <label class="text-black" for="usersEmail">이메일</label>
		    <div class="row">
			  <div class="col-6">
			    <input name="usersEmail" type="text" id="usersEmail"
				  class="form-control" placeholder="가입한 이메일을 입력해주세요">
			  </div>
		    <div class="col-4">
			  <button type="button" id="sendmail"
			  class="btn btn-primary float-end text-white ">인증번호 전송</button>
		    </div>
		  </div>
	    </div>
	  </div>
	  </div>
</body>
</html>